.ms-card {

    .template-5 {
        position: relative;
        border-radius: 2px;
        overflow: hidden;

        .info {

            .title {

            }

            .event {

            }
        }

        .media {
            width: 64px;
            max-width: 64px;

            .image {

            }
        }
    }
}