.ms-card {

    &.template-5 {
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        max-width: 400px;

        .info {

            .title {

            }

            .event {

            }
        }

        .media {
            width: 80px;
            min-width: 80px;
            max-width: 80px;

            .image {

            }
        }
    }
}