<!-- Sidenav header -->
<div class="header" layout="column" layout-align="space-between start">

    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
            <md-icon md-font-icon="icon-mail" class="icon s24"></md-icon>
        </span>
        <span class="logo-text">Mailbox</span>
    </div>

    <div class="account">
        <div class="title">John Doe</div>
        <md-select class="account-selection simplified" placeholder="Mail Selection"
                   ng-model="vm.selectedAccount">
            <md-option ng-repeat="(provider, address) in vm.accounts" value="{{provider}}">{{address}}
            </md-option>
        </md-select>
    </div>

</div>
<!-- / Sidenav header -->

<!-- Sidenav content -->
<md-content ms-scroll class="content" flex>

    <div class="compose-button">
        <md-button class="md-accent md-raised" aria-label="compose"
                   ng-click="vm.composeDialog($event)">COMPOSE
        </md-button>
    </div>

    <div class="navigation-simple" layout="column">
        <md-button class="item" aria-label="inbox">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-inbox" class="s18"></md-icon>
                <span class="title">Inbox</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="starred">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-star" class="s18"></md-icon>
                <span class="title" flex>Starred</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="important">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-info" class="s18"></md-icon>
                <span class="title" flex>Important</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="sent">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-send" class="s18"></md-icon>
                <span class="title">Sent</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="drafts">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-drafts" class="s18"></md-icon>
                <span class="title">Drafts</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="all mail">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-folder" class="s18"></md-icon>
                <span class="title">All Mail</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="spam">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-report" class="s18"></md-icon>
                <span class="title">Spam</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="trash">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-delete" class="s18"></md-icon>
                <span class="title">Trash</span>
            </div>
        </md-button>

        <div class="item subheader">Labels</div>

        <md-button class="item" aria-label="label notes">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-label" class="s18 md-green-fg"></md-icon>
                <span class="title">Notes</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="label paypal">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-label" class="s18 md-orange-fg"></md-icon>
                <span class="title">Paypal</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="label invoices">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-label" class="s18 md-blue-grey-fg"></md-icon>
                <span class="title">Invoices</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="label amazon">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-label" class="s18 md-blue-fg"></md-icon>
                <span class="title">Amazon</span>
            </div>
        </md-button>

        <md-divider></md-divider>

        <md-button class="item" aria-label="settings">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-settings" class="s18"></md-icon>
                <span class="title">Settings</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="help">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-help" class="s18"></md-icon>
                <span class="title">Help</span>
            </div>
        </md-button>
    </div>

</md-content>
<!-- / Sidenav content -->