.widget {
    perspective: 3000px;

    .front {
        overflow: hidden;
        visibility: visible;
        opacity: 1;
        z-index: 10;
        padding: 16px;
        border-radius: 2px;
        background: @material-color-white;
        transition: transform 0.5s ease-out 0s, visibility 0s ease-in 0.2s, opacity 0s ease-in 0.2s;
        transform: rotateY(0deg);
        backface-visibility: hidden;
    }

    .back {
        position: absolute;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 16px;
        border-radius: 2px;
        background: @material-color-white;
        transition: transform 0.5s ease-out 0s, visibility 0s ease-in 0.2s, opacity 0s ease-in 0.2s;
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }

    &.flipped {

        .front {
            visibility: hidden;
            opacity: 0;
            transform: rotateY(180deg);
        }

        .back {
            display: block;
            visibility: visible;
            opacity: 1;
            transform: rotateY(360deg);
        }
    }
}