<div class="page-layout layout-style-1 layout-right-pane" layout="row">

    <!-- Top background -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / Top background -->

    <!-- Center pane -->
    <div class="center-pane" layout="column" flex>

        <!-- Content header -->
        <div class="header" layout="row" layout-align="space-between">
            <span>Content header</span>
            <i class="right-pane-toggle icon icon-menu" ng-click="vm.toggleSidenav('rightpane')" hide-gt-md></i>
        </div>
        <!-- / Content header -->

        <!-- Content card -->
        <div class="content-card" layout="column" flex>

            <!-- Content toolbar -->
            <div class="toolbar" layout="row" layout-align="start center">
                <span>Content toolbar</span>
            </div>
            <!-- / Content toolbar -->

            <!-- Content -->
            <md-content class="content" flex>
                <span>Scrollable main content</span>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </md-content>
            <!-- / Content -->

        </div>
        <!-- / Content card-->

    </div>
    <!-- / Center pane -->

    <!-- Right pane -->
    <md-sidenav class="right-pane md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')" md-component-id="rightpane">

        <!-- Right pane header -->
        <div class="header">
            <span>Right pane header</span>
        </div>
        <!-- / Right pane header -->

        <!-- Right pane content -->
        <md-content class="content" flex>
            <span>Right pane scrollable content</span>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </md-content>
        <!-- / Right pane content -->

    </md-sidenav>
    <!-- / Right pane -->

</div>

