<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between">

    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
            <md-icon md-font-icon="icon-check_box" class="s24"></md-icon>
        </span>
        <span class="logo-text">To-Do</span>
    </div>

    <md-select class="project-selection simplified" placeholder="Project Selection"
               ng-model="vm.selectedProject">
        <md-option ng-repeat="(project, title) in vm.projects" value="{{project}}">
            {{title}}
        </md-option>
    </md-select>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content class="content" flex  ms-scroll>

    <div class="add-task-button">
        <md-button class="md-accent md-raised" aria-label="add task" ng-click="vm.openTaskDialog($event)">
            ADD TASK
        </md-button>
    </div>

    <div class="navigation-simple" layout="column">
        <md-button class="item" aria-label="all tasks">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-list" class="s18"></md-icon>
                <span class="title">All Tasks</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="starred">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-star" class="s18"></md-icon>
                <span class="title">Starred</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="priority">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-info" class="s18"></md-icon>
                <span class="title">Priority</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="scheduled">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-access_time" class="s18"></md-icon>
                <span class="title">Scheduled</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="today">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-today" class="s18"></md-icon>
                <span class="title">Today</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="done">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-check" class="s18"></md-icon>
                <span class="title">Done</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="deleted">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-delete" class="s18"></md-icon>
                <span class="title">Deleted</span>
            </div>
        </md-button>

        <div class="item subheader">
            Tags
        </div>

        <md-button class="item" aria-label="tag {{tag.title}}" ng-repeat="tag in vm.tags">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-label" class="s18" ng-style="{'color' : tag.color}"></md-icon>
                <span class="title">{{tag.title}}</span>
            </div>
        </md-button>
    </div>

</md-content>
<!-- / SIDENAV CONTENT -->