/*----------------------------------------------------------------*/
/*  ms-material-color-picker
/*----------------------------------------------------------------*/
ms-material-color-picker {
    md-menu {
        .md-button {
            background-color: #EEE;
            font-size: 12px;
        }
    }
}

md-menu-content.ms-material-color-picker-menu-content {
    width: 192px;
    max-width: 192px;
    min-width: 192px;
    max-height: inherit;
    padding: 0;

    header {
        height: 32px;
        text-transform: uppercase;
        .remove-color-button {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0;
            margin: 0;
            width: 32px;
            height: 32px;
        }
    }

    .palette-fab-button {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .colors {
        width: 192px;
        height: 240px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.03);

        .color {
            width: 48px;
            height: 48px;
            font-size: 10px;
            font-weight: normal;
            cursor: pointer;
            position: relative;

            .label {
                padding: 2px;
                opacity: 0.8;
            }

            .icon-check {
                position: absolute;
                top: 2px;
                right: 2px;
                font-size: 16px;
                text-align: right;
                opacity: .5;
            }
        }
    }
}