<md-menu md-position-mode="target-right target">

    <md-button aria-label="Row Color" md-menu-origin
               ng-click="$mdOpenMenu($event)" ng-class="selectedColor.class">
        <span ng-show="selectedColor.palette">
            {{selectedColor.palette}} {{selectedColor.hue}}
        </span>
        <span ng-show="!selectedColor.palette">
            Select Color
        </span>
    </md-button>

    <md-menu-content class="ms-material-color-picker-menu-content" layout-column>

        <header ng-class="selectedColor.class || 'md-accent-bg'" class="md-whiteframe-4dp" layout="row"
                layout-align="center center">
            <span ng-if="selectedColor.palette">
                {{selectedColor.palette}} {{selectedColor.hue}}
            </span>
            <span ng-if="!selectedColor.palette">
                Select Color
            </span>
            <md-button class="remove-color-button md-icon-button" ng-click="removeColor()" aria-label="Remove Color">
                <md-icon md-font-icon="icon-delete" class="s18"></md-icon>
            </md-button>
        </header>

        <md-button ng-if="selectedPalette"
                   md-prevent-menu-close
                   ng-click="activateHueSelection(false,false)"
                   class="md-fab md-accent palette-fab-button"
                   aria-label="Palette"
                   ng-class="'md-'+selectedPalette+'-500-bg'">
            <md-icon md-font-icon="icon-palette"></md-icon>
        </md-button>

        <div class="colors" ms-scroll>
            <div ng-if="!selectedPalette" layout="row" layout-wrap>
                <div ng-repeat="(palette, hues) in palettes"
                     class="color" md-ink-ripple
                     layout="column" layout-align="end start"
                     ng-click="activateHueSelection(palette,hues)"
                     md-prevent-menu-close
                     ng-class="'md-'+palette+'-500-bg'">
                    <span class="label">
                        {{palette}}
                    </span>
                </div>
            </div>

            <div ng-if="selectedPalette" layout="row" layout-wrap>
                <div ng-repeat="(hue, values) in selectedHues"
                     class="color" md-ink-ripple
                     layout="column" layout-align="end start"
                     ng-click="selectColor(selectedPalette,hue)"
                     ng-class="'md-'+selectedPalette+'-'+hue+'-bg'">
                    <span class="label">
                        {{hue}}
                    </span>
                    <i ng-if="selectedPalette == selectedColor.palette && hue == selectedColor.hue"
                       class="icon-check">
                    </i>
                </div>
            </div>

        </div>

    </md-menu-content>
</md-menu> 