<div class="page-layout simple simple-left-pane" layout="column">

    <!-- Header -->
    <div class="header md-accent-bg" layout="row">
        <md-button class="md-icon-button left-pane-toggle" ng-click="vm.toggleSidenav('leftpane')" hide-gt-md aria-label="Toggle left pane">
            <i class="icon icon-menu"></i>
        </md-button>

        <span>Header</span>
    </div>
    <!-- / Header -->


    <!-- Content wrapper -->
    <div class="content-wrapper" layout="row">

        <!-- Left pane -->
        <md-sidenav class="left-pane" md-is-locked-open="$mdMedia('gt-md')" md-component-id="leftpane">
            <span>Left pane</span>
        </md-sidenav>
        <!-- / Left pane -->

        <!-- Content -->
        <div class="content" flex>
            <span>Content</span>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </div>
        <!-- / Content -->

    </div>
    <!-- / Content wrapper -->

</div>