<div id="calendar" class="page-layout simple fullwidth" layout="column" layout-fill>

    <!-- Header -->
    <div class="header" ng-class="vm.currentMonthShort" layout="column" layout-align="space-between">
        <div class="header-top" layout="row" layout-align="space-between center">
            <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon">
                    <i class="icon-today"></i>
                </span>

                <span class="logo-text">Calendar</span>
            </div>

            <div class="toolbar" layout="row" layout-align="start center">
                <md-button class="md-icon-button" aria-label="Search">
                    <md-icon md-font-icon="icon-search"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="Today" ng-click="vm.calendar.today()">
                    <md-icon md-font-icon="icon-today"></md-icon>
                    <md-tooltip>Today</md-tooltip>
                </md-button>

                <md-button class="md-icon-button" aria-label="Day" ng-click="vm.calendar.changeView('agendaDay')">
                    <md-icon md-font-icon="icon-view_headline"></md-icon>
                    <md-tooltip>Day</md-tooltip>
                </md-button>

                <md-button class="md-icon-button" aria-label="Week" ng-click="vm.calendar.changeView('agendaWeek')">
                    <md-icon md-font-icon="icon-view_week"></md-icon>
                    <md-tooltip>Week</md-tooltip>
                </md-button>

                <md-button class="md-icon-button" aria-label="Month" ng-click="vm.calendar.changeView('month')">
                    <md-icon md-font-icon="icon-view_module"></md-icon>
                    <md-tooltip>Month</md-tooltip>
                </md-button>
            </div>
        </div>

        <div class="header-bottom" layout="row" layout-align="start center">
            <md-button class="md-icon-button arrow" aria-label="previous" ng-click="vm.calendar.prev()">
                <md-icon md-font-icon="icon-keyboard_arrow_left"></md-icon>
            </md-button>

            <md-button class="md-icon-button arrow" aria-label="next">
                <md-icon md-font-icon="icon-keyboard_arrow_right" ng-click=" vm.calendar.next()"></md-icon>
            </md-button>

            <div class="title">
                {{vm.calendarView.title}}
            </div>
        </div>

        <md-button class="add-event-button md-fab md-warn" aria-label="Add event"
                   ng-click="vm.eventDialog('add',$event)">
            <md-icon md-font-icon="icon-add" class="s20"></md-icon>
        </md-button>
    </div>
    <!-- / Header -->

    <!-- Content -->
    <div class="content">
        <div id="calendarView" ui-calendar="vm.calendarUiConfig.calendar" ng-model="vm.events" calendar="main"></div>
    </div>
    <!-- / Content -->

</div>