.ms-card {

    .template-3 {
        position: relative;
        border-radius: 2px;
        overflow: hidden;

        .info {

            .title {

            }

            .subtitle {

            }
        }

        .cta {

            .md-button {

            }
        }

        .media {

            .image {

            }
        }
    }
}