<div class="template-3 padding-16 md-teal-bg white-text" layout="row" layout-align="space-between">
    <div layout="column" layout-align="space-between" flex>
        <div class="info">
            <div class="title h1" ng-if="card.title">
                {{card.title}}
            </div>

            <div class="subtitle h3 secondary-text" ng-if="card.subtitle">
                {{card.subtitle}}
            </div>
        </div>

        <div class="cta">
            <md-button class="margin-0">{{card.cta}}</md-button>
        </div>
    </div>

    <div class="media padding-left-16">
        <img class="image" ng-src="{{card.media.image.src}}" alt="{{card.media.image.alt}}" ng-show="card.media.image">
    </div>
</div>