<md-dialog class="event-calendar-dialog" aria-label="Event Dialog" ng-cloak>

    <!-- DIALOG TOOLBAR -->
    <md-toolbar class="md-accent" ng-class="'md-'+vm.board.settings.color+'-bg'">
        <div class="md-toolbar-tools">
            <h2 class="title"> {{vm.eventDate | date}}</h2>
            <span flex></span>

            <!-- CLOSE DIALOG BUTTON -->
            <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="close dialog">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
            <!-- / CLOSE DIALOG BUTTON -->
        </div>
    </md-toolbar>
    <!-- / DIALOG TOOLBAR -->

    <!-- DIALOG CONTENT -->
    <md-dialog-content ms-scroll layout="column">

        <md-tabs md-dynamic-height>

            <!-- ADD NEW CARD TAB -->
            <md-tab>

                <md-tab-label>
                    Add New Card
                </md-tab-label>

                <md-tab-body>
                    <div class="new-card-tab-content">

                        <md-subheader class="md-no-sticky">Card Name</md-subheader>
                        <md-input-container layout="row" class="new-card-name" md-no-float>
                            <input ng-model="vm.newCardName" placeholder="Type card name.." type="text"/>
                        </md-input-container>

                        <md-list class="lists">
                            <md-subheader class="md-no-sticky">Select List</md-subheader>
                            <md-content class="lists-content" flex ms-scroll>
                                <md-list-item ng-repeat="list in vm.board.lists" ng-click="vm.newCardListId = list.id">
                                    <p class="list-name">{{list.name}}</p>
                                    <md-checkbox ng-checked="vm.newCardListId === list.id" class="md-secondary"
                                                 ng-click="vm.newCardListId = list.id" aria-label="list">
                                    </md-checkbox>
                                </md-list-item>
                            </md-content>
                        </md-list>

                        <div class="" layout="row" layout-align="end center">
                            <md-button class="md-accent md-raised" ng-click="vm.addNewCard()"
                                       ng-disabled="vm.newCardName === '' || vm.newCardListId === '' " aria-label="add">
                                Add
                            </md-button>
                        </div>

                    </div>
                </md-tab-body>
            </md-tab>
            <!-- / ADD NEW CARD TAB -->

            <!-- ASSIGN DUE DATE -->
            <md-tab>
                <md-tab-label>
                    Assign The Date to Cards
                </md-tab-label>

                <md-tab-body>
                    <div class="assign-due-date-tab-content">
                        <md-list class="cards">
                            <md-subheader class="md-no-sticky">Select Cards</md-subheader>
                            <md-content class="cards-content" flex ms-scroll>

                                <md-list-item class="card" ng-repeat="card in vm.board.cards"
                                              ng-click="vm.toggleInArray(card.id, vm.selectedCards)" aria-label="card">
                                    <p layout="column" layout-align="start start">
                                        <span class="card-name">{{card.name}}</span>
                                        <span class="card-date">{{card.due | date}}</span>
                                    </p>
                                    <md-checkbox ng-checked="vm.exists(card.id, vm.selectedCards)"
                                                 ng-click="vm.toggleInArray(card.id, vm.selectedCards)"
                                                 class="md-secondary" aria-label="card">
                                    </md-checkbox>
                                </md-list-item>
                            </md-content>
                        </md-list>
                        <div layout="row" layout-align="end center">
                            <md-button ng-disabled="!vm.selectedCards[0]" ng-click="vm.assignDueDate()" class="md-accent md-raised" aria-label="assign">
                                Assign
                            </md-button>
                        </div>
                    </div>
                </md-tab-body>

            </md-tab>
            <!-- / ASSIGN DUE DATE -->

        </md-tabs>
    </md-dialog-content>
    <!-- / DIALOG CONTENT -->

</md-dialog>