/*----------------------------------------------------------------*/
/*  Colors
/*----------------------------------------------------------------*/

// Black text
.black-text {
    color: rgba(0, 0, 0, 0.87);

    &.secondary-text,
    &.icon {
        color: rgba(0, 0, 0, 0.54);
    }

    &.hint-text,
    &.disabled-text {
        color: rgba(0, 0, 0, 0.26);
    }

    &.divider {
        color: rgba(0, 0, 0, 0.12);
    }
}

// White text
.white-text {
    color: rgb(255, 255, 255);

    &.secondary-text,
    &.icon {
        color: rgba(0, 0, 0, 0.70);
    }

    &.hint-text,
    &.disabled-text {
        color: rgba(0, 0, 0, 0.30);
    }

    &.divider {
        color: rgba(0, 0, 0, 0.12);
    }
}

// Material colors
$colors: map_keys($materialColorsMap);

@each $color in $colors {

    .md-#{$color}-bg {
        background-color: map_get($materialColorsMap, $color);
    }

    .md-#{$color}-fg {
        color: map_get($materialColorsMap, $color);
    }
}