#buttons {
    .content {
        padding: 32px;
        .description{
            margin-bottom: 32px;
        }
        .card {
            margin: 16px 0 48px 0;
            overflow: hidden;
        }
    }
}