#buttons {
    .content {
        max-width: 1024px;
        padding: 32px;
        .description{
            margin-bottom: 32px;
        }
        .card {
            margin: 16px 0 48px 0;
            table {
                table-layout: fixed;
                width: 100%;
                border-spacing: 16px;
                tr {
                    td {
                        .preview,
                        .source-code {
                            vertical-align: top;
                            min-height: 100%;
                        }
                        .preview {
                            padding: 8px;
                        }
                        .source-code {
                        }
                    }
                }
            }
        }
        .attributes{
            margin: 16px 0 48px 0;
        }
    }
}