<div id="buttons">
    <header class="page-header md-accent-bg" layout="column">
        <div class="breadcrumb" layout="row" layout-align="start center">
            <md-icon md-font-icon="icon-home" class="s18"></md-icon>
            <md-icon md-font-icon="icon-keyboard_arrow_right" class="s18 separator"></md-icon>
            <span class="parent">COMPONENTS</span>
            <md-icon md-font-icon="icon-keyboard_arrow_right" class="s18 separator"></md-icon>
            <span class="parent">ELEMENTS</span>
        </div>
        <div class="title">Buttons</div>
    </header>
    <div class="content">
        <code>&lt;md-button&gt;</code> is a button directive with optional ink ripples (default enabled).

        <p>
            If you supply a href or ng-href attribute, it will become an <code>&lt;a&gt;</code> element. Otherwise, it
            will become a
            <code>&lt;button&gt;</code> element.
            As per the Material Design specifications the FAB button background is filled with the accent color [by
            default].
            The primary color palette may be used with the md-primary class.
        </p>

        <div class="md-title">FAB</div>
        <div class="card classic md-background-bg md-whiteframe-z2" layout="column">
            <div layout="row" layout-fill layout-margin layout-padding>
                <div flex class="md-background-bg md-hue-2">Flex</div>
                <div flex class="md-background-bg md-hue-1">
                    <hljs lang="html">
                            <md-button class="md-fab md-primary" aria-label="Use Android">
                                <md-icon md-svg-src="img/icons/android.svg"></md-icon>
                            </md-button>
                    </hljs>
                </div>
            </div>
        </div>

    </div>
</div>
