.doc-page {

    > .header {
        height: 160px !important;
        min-height: 160px !important;
        max-height: 160px !important;

        .breadcrumb {
            margin-bottom: 24px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.54);

            md-icon {
                margin: 0;
            }

            .separator {
                margin: 0 8px;
            }
        }

        .title {
            font-size: 34px;
        }

        .reference-button {
            padding: 0 8px;

            span {
                margin-left: 4px;
            }
        }
    }

    > .content {
        max-width: 1200px;

        .card {
            margin-bottom: 48px;
            padding: 24px;
        }

        .md-title {
            margin-bottom: 16px;
        }
    }
}