#profile {
    .about-tab {
        padding: 0;
        .about {
            align-content: flex-start;
            > div {
                padding: 16px;
                width: 33%;
                flex: none !important;
            }
            md-divider {
                margin: 32px 0;
            }
            .box {
                margin: 0;
                box-sizing: border-box;
                border-radius: 2px;
                background: white;
                overflow: hidden;

                > header {
                    padding: 16px;
                    .title {
                        font-size: 18px;
                        font-weight: 300;
                    }
                    .more {
                        font-size: 13px;
                        color: rgba(0, 0, 0, 0.87);
                        cursor: pointer;
                    }
                }
                > .content {
                    padding: 16px;
                    background-color: #fff;
                }

                &.friends {
                    > .content {
                        padding: 12px;
                        .friend {
                            padding: 4px;
                            > img {
                                width: 100%;
                            }
                        }
                    }
                }
                &.groups {
                    > .content {
                        padding: 16px 0 16px 16px;
                        .group {
                            margin-bottom: 16px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            .logo {
                                border: 1px solid rgba(0, 0, 0, 0.13);
                                margin-right: 16px;
                            }
                            .name {
                                font-weight: 500;
                                font-size: 15px;
                            }
                            .category,
                            .members {
                                font-size: 13px;
                                color: rgba(0, 0, 0, 0.54);
                            }
                            .members {
                                margin-top: 16px;
                            }
                        }
                    }
                }
                &.general,
                &.contact,
                &.work {
                    > .content {
                        > div {
                            margin-bottom: 16px;
                            font-size: 13px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            > .title {
                                font-weight: 500;
                            }
                            > .content {
                                margin: 4px 0;

                            }
                        }
                    }
                }
                &.general {
                    .location {
                        md-icon {
                            line-height: 13px !important;
                        }
                    }
                }
                &.work {
                    .job {
                        .company {
                            padding: 0 16px 0 0;
                            font-weight: 500;
                        }
                        .date {
                            color: rgba(0, 0, 0, 0.54);
                        }
                    }
                }
            }
        }
    }
}