<div layout="row">

    <div class="about" flex="65" layout="column">
        <div class="profile-box info-box general md-whiteframe-z1" layout="column">
            <header class="md-accent-bg">
                <div class="title">General Information</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Gender</div>
                    <div class="info">{{vm.about.general.gender}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Birthday</div>
                    <div class="info">{{vm.about.general.birthday}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Locations</div>
                    <div class="info location" ng-repeat="location in vm.about.general.locations">
                        <span>{{location}}</span>
                        <md-icon md-font-icon="icon-location_on" class="s16"></md-icon>
                    </div>
                </div>

                <div class="info-line">
                    <div class="title">About Me</div>
                    <div class="info">{{vm.about.general.about}}</div>
                </div>
            </div>
        </div>

        <div class="profile-box info-box work md-whiteframe-z1" layout="column">
            <header class="md-accent-bg">
                <div class="title">Work</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Occupation</div>
                    <div class="info">{{vm.about.work.occupation}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Skills</div>
                    <div class="info">{{vm.about.work.skills}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Jobs</div>
                    <table class="info jobs">
                        <tr class="job" ng-repeat="job in vm.about.work.jobs">
                            <td class="company">{{job.company}}</td>
                            <td class="date">{{job.date}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="profile-box info-box contact md-whiteframe-z1" layout="column">
            <header class="md-accent-bg">
                <div class="title">Contact</div>
            </header>
            <div class="content">
                <div class="info-line">
                    <div class="title">Address</div>
                    <div class="info">{{vm.about.contact.address}}</div>
                </div>
                <div class="info-line">
                    <div class="title">Tel.</div>
                    <div class="info" ng-repeat="tel in vm.about.contact.tel">
                        <span>{{tel}}</span>
                    </div>
                </div>
                <div class="info-line">
                    <div class="title">Website</div>
                    <div class="info" ng-repeat="website in vm.about.contact.websites">
                        <span>{{website}}</span>
                    </div>
                </div>
                <div class="info-line">
                    <div class="title">Emails</div>
                    <div class="info" ng-repeat="email in vm.about.contact.emails">
                        <span>{{email}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-sidebar" flex="35" layout="column">
        <div class="profile-box friends md-whiteframe-z1" layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title">Friends</div>
                <div class="more secondary-text">See 454 More</div>
            </header>
            <div class="content" layout="row" layout-wrap>
                <div class="friend" flex="20" ng-repeat="friend in vm.about.friends">
                    <img ng-src="{{friend.avatar}}">
                </div>
            </div>
        </div>

        <div class="profile-box groups md-whiteframe-z1" layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title">Joined Groups</div>
                <div class="more secondary-text">See 6 More</div>
            </header>

            <div class="content">
                <div class="group" ng-repeat="group in vm.about.groups" layout="row"
                     layout-align="space-between center">
                    <div layout="row" layout-align="start center">
                        <img ng-src="{{group.logo}}" class="logo" alt="{{group.name}}"/>
                        <div>
                            <div class="name">{{group.name}}</div>
                            <div class="category">{{group.category}}</div>
                            <div class="members">{{group.members}} people</div>
                        </div>
                    </div>
                    <md-button class="md-icon-button" aria-label="more">
                        <md-icon md-font-icon="icon-more_vert"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </div>

</div>

