<div class="app1-fullwidth" layout="column">

    <!-- Header -->
    <header class="md-accent-bg md-primary-fg" layout="column" layout-align="space-between">
        <div layout="row">
            <div class="header-left">
                <span class="md-background-fg">Header Left</span>
            </div>

            <div class="header-right" flex>
                <span class="md-background-fg">Header Right</span>
            </div>
        </div>

        <!-- Header Toolbar -->
        <div class="header-toolbar" layout="row" layout-align="start center">
            <span class="black-text">Header Toolbar</span>
        </div>
        <!-- Header Toolbar - End -->

    </header>
    <!-- End - Header -->

    <!-- Content -->
    <div class="content">

        <!-- Main Content -->
        <div class="content-main md-background-bg md-whiteframe-z3">
            <p>
                Main Content Area
            </p>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <p>
                Main Content Area
            </p>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <p>
                Main Content Area
            </p>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <p>
                Main Content Area
            </p>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <p>
                Main Content Area
            </p>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <p>
                Main Content Area
            </p>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <p>
                Main Content Area
            </p>
        </div>
        <!-- Main Content - End -->

    </div>
    <!-- Content - End -->

</div>

