<div class="widget template-1" ng-class="{'flipped': flipped}" layout="column" layout-align="start space-between">

    <div class="back md-whiteframe-z1">
        <md-button aria-label="more" class="md-icon-button" ng-click="flipWidget()">
            <md-icon md-font-icon="icon-arrow_back" class="s20"></md-icon>
        </md-button>

        This is the back side!
    </div>

    <div class="front md-whiteframe-z1">
        <div class="header" layout="row" layout-align="space-between center">
            <div class="title secondary-text">{{widget.title}}</div>

            <div class="toolbar" layout="row" layout-align="end center">
                <md-button aria-label="more" class="md-icon-button" ng-click="flipWidget()">
                    <md-icon md-font-icon="icon-refresh" class="s20"></md-icon>
                </md-button>

                <md-menu>
                    <md-button aria-label="more" class="md-icon-button"
                               ng-click="$mdOpenMenu($event)">
                        <md-icon md-font-icon="icon-more_vert" class="s20"></md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item ng-repeat="size in vm.widget1.size.available">
                            <md-button ng-click="vm.widget1.size.current = size.name"
                                       aria-label="{{size.label}}">
                                {{size.label}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>

        <div class="content" layout="column" layout-align="space-between" flex>
            <div class="value" layout="row" layout-align="start center">
                <span>30,342</span>
                <md-icon md-font-icon="icon-trending_up" class="s36 icon"></md-icon>
            </div>

            <div class="detail" layout="row" layout-align="start center">
                <span class="secondary-text">Last week: 30,002</span>
                <span class="box">+ 1,12%</span>
            </div>
        </div>
    </div>

</div>