#gantt-chart {
    .center {
        .header {
            padding: 24px 0 16px 0;
            .logo {

                .logo-icon {
                    margin: 0 16px 0 0;
                    md-icon {
                        color: #FFFFFF;
                    }
                }

                .logo-text {
                    color: #FFFFFF;
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .search {
                height: 48px;
                line-height: 48px;
                padding: 8px 8px 8px 16px;
                background: #FFFFFF;
                .icon {
                    margin: 0;
                }
                md-input-container {
                    height: 48px;
                    padding: 0;
                    md-select {
                        height: 48px;
                        md-select-value {
                            border: none;
                            padding: 0;
                            color: rgba(0, 0, 0, 0.54);
                        }
                    }
                }
                input {
                    padding-left: 16px;
                    height: 48px;
                    color: rgba(0, 0, 0, 0.54);
                }
            }

            .date-filter {
                background-color: white;
                padding: 0 12px;
                height: 48px;
                margin-left: 8px;
                .filter {
                    .label {
                    }
                    md-datepicker {
                        .md-datepicker-input {
                            background-color: transparent;
                        }
                    }
                    &.from {
                        margin-right: 16px;
                    }
                    &.to {

                    }
                }
            }
        }
        .content-card {

            .toolbar {
                padding: 8px;
                .add-task-button {
                    margin: 0;
                }
                .zoom {
                    margin-right: 8px;
                    .label {
                        margin-right: 8px;
                    }
                    .input-wrapper {
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        height: 28px;
                        overflow: hidden;
                        .md-button {
                            margin: 0;
                            width: 28px;
                            height: 28px;
                            min-height: 28px;
                            line-height: 28px;
                            border-radius: 0;
                            md-icon {
                                font-size: 12px;
                                width: 28px;
                                height: 28px;
                                line-height: 28px;
                            }
                        }
                        input {
                            border: none;
                            border-right: 1px solid rgba(0, 0, 0, 0.2);
                            border-left: 1px solid rgba(0, 0, 0, 0.2);
                            background-color: transparent;
                            text-align: center;
                            width: 48px;
                            height: 28px;
                            min-height: 28px;
                            line-height: 28px;
                        }
                    }
                }
                .select-scale {
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    padding-left: 8px;
                }
            }
            .content {
                padding: 0;
            }
        }
    }
}