<div class="padding-16">
    <div class="padding-bottom-16" layout="row" layout-align="space-between center">
        <div class="info">
            <div class="title secondary-text" ng-if="card.title">
                {{card.title}}
            </div>

            <div class="subtitle h3" ng-if="card.subtitle">
                {{card.subtitle}}
            </div>
        </div>

        <div class="media margin-left-16">
            <img class="image" ng-src="{{card.media.image.src}}" alt="{{card.media.image.alt}}"
                 ng-show="card.media.image">
        </div>
    </div>

    <div class="text">
        {{card.text}}
    </div>
</div>