/************
* Navigation SideNav
************/
$navSidabarWidth: 240px;

.site-sidenav {
    z-index: 70;

    .nav-header {
        height: 64px;
        min-height: 64px;
        background-color: rgba(255, 255, 255, 0.08);
        padding-left: 32px;

        .logo {
            border-radius: 2px;
            width: 32px;
            height: 32px;
            margin-right: 16px;
            font-size: 16px;
            font-weight: 900;
            color: rgba(255, 255, 255, 1);
        }

        .logo-text {
            font-size: 16px;
            font-weight: 500;
        }
    }

    md-content {
        background: transparent;
    }

    &.md-locked-open-add-active,
    &.md-locked-open {
        width: $navSidabarWidth;
        min-width: $navSidabarWidth;
        max-width: $navSidabarWidth;
    }

    .navigation {
        color: rgba(255, 255, 255, 0.70);
        font-size: 13px;
        font-weight: 500;

        .ms-nav-group {
            padding: 16px 0 0 0;

            .group-title {
                line-height: 32px;
                margin: 0;
                width: 100%;
                color: rgba(255, 255, 255, 0.30);
                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;
                padding-left: 24px;
            }

            .ms-nav-toggle {

                & > ul {
                    overflow: hidden;
                    height: 0;
                    transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);

                    & > li {
                        padding-left: 34px;

                        & > ul > li {
                            padding-left: 10px;
                        }
                    }
                }

                &.active {

                    > .ms-nav-toggle-button {
                        color: rgba(255, 255, 255, 1);

                        a, md-icon {
                            color: rgba(255, 255, 255, 1);
                        }

                        > [class^="icon-keyboard_arrow"], > [class*=" icon-keyboard_arrow"] {
                            transform: rotate(180deg);
                        }
                    }

                    & > ul {
                        height: auto;
                    }
                }

                .ms-nav-toggle-button {
                    display: flex;
                    align-self: flex-start;
                    align-items: center;
                    padding: 0 16px 0 24px;
                    cursor: pointer;
                    flex-direction: row;
                    justify-content: space-between;

                    > span {
                        display: flex;
                        flex: 1;
                    }

                    > [class^="icon-keyboard_arrow"], > [class*=" icon-keyboard_arrow"] {
                        transition: transform 0.3s ease-in-out;
                        margin: 0;
                    }
                }
            }

            & > .ms-nav-toggle {

                &.active {

                    & > ul {
                        background-color: rgba(0, 0, 0, 0.12);
                        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                    }
                }
            }

            .ms-nav-item {
                position: relative;
                line-height: 48px;

                a {
                    display: flex;
                    align-self: flex-start;
                    align-items: center;
                    padding: 0 24px;
                    color: rgba(255, 255, 255, 0.70);

                    &.active {
                        background: rgba(0, 0, 0, 0.12);
                        color: rgba(255, 255, 255, 1);

                        .ms-nav-icon {
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                }

                .ms-nav-icon {
                    color: rgba(255, 255, 255, 0.70);
                    margin: 0 16px 0 0;
                }

                .ms-nav-title {
                    display: flex;
                }
            }
        }
    }
}