/************
* Navigation SideNav
************/
$navSidabarWidth: 240px;

.site-sidenav {
    z-index: 70;

    .nav-header {
        height: 64px;
        min-height: 64px;
        background-color: rgba(255, 255, 255, 0.08);
        padding-left: 32px;

        .logo {
            border-radius: 2px;
            width: 32px;
            height: 32px;
            margin-right: 16px;
            font-size: 16px;
            font-weight: 900;
            color: rgba(255, 255, 255, 1);
        }

        .logo-text {
            font-size: 16px;
        }
    }

    md-content {
        background: transparent;
    }

    &.md-locked-open-add-active,
    &.md-locked-open {
        width: $navSidabarWidth;
        min-width: $navSidabarWidth;
        max-width: $navSidabarWidth;
    }

    .navigation {

        .ms-nav-toggle {

            & > ul {
                overflow: hidden;
                height: 0;
                transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);

            }

            &.active {

                & > ul {
                    height: auto;
                }
            }
        }





        color: rgba(255, 255, 255, 1);

        .menu-heading {
            line-height: 32px;
            padding: 0 24px;
            margin: 0;
            width: 100%;
            color: rgba(255, 255, 255, 0.30);
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
        }

        .menu-toggle-list {
            overflow: hidden;
            position: relative;
            z-index: 1;
            -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
            -webkit-transition-property: height;
            -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
            -moz-transition-property: height;
            transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
            transition-property: height;

            a.md-button {
                display: block;
                padding: 0 16px 0 58px;
                font-weight: 500;
            }
        }

        &, ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin: 0;
        }

        & > li {
            margin-top: 24px;
        }

        .md-button {
            border-radius: 0;
            cursor: pointer;
            display: block;
            align-items: inherit;
            margin: 0;
            overflow: hidden;
            padding: 0px 24px;
            text-align: left;
            text-decoration: none;
            text-transform: none;
            white-space: normal;
            width: 100%;

            &:hover,
            &:focus {
                background: rgba(0, 0, 0, 0.26);
            }

            &::-moz-focus-inner {
                padding: 0;
            }

            &.active {
                background: rgba(0, 0, 0, 0.26);
            }

            .context {
                line-height: 48px;
                max-height: 48px;
                height: 48px;

                md-icon {
                    color: inherit;
                    width: 18px;
                    height: 18px;

                    &.item-icon {
                        margin: 0 16px 0 0;
                    }
                }

                .title {
                    font-size: 13px;
                    line-height: 18px;
                }
            }

        }

        md-select {
            /* Override md-select margins.  With margins the menu will look incorrect and causes mobile list
               to not be scrollable.
             */
            margin: 0;
            width: 100%;

            md-select-label {
                justify-content: flex-end;
                padding-top: 10px;

                span {
                    margin-right: auto;
                    padding-left: 13px;
                }
            }

            .md-select-icon {
                margin-right: 28px;
            }
        }
    }

    ul#navigation-Directives {
        margin-bottom: 20px;
    }

    .md-button-toggle {

        .md-toggle-icon {
            speak: none;
            vertical-align: middle;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transition: transform 0.3s ease-in-out;
            -webkit-transition: -webkit-transform 0.3s ease-in-out;
        }

        .md-toggle-icon.toggled {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
        }

        .md-whiteframe-glow-z1 {
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 0px 2px 2px rgba(0, 0, 0, 0.098),
            0px 0px 5px 1px rgba(0, 0, 0, 0.084);
        }
    }
}

