<md-toolbar class="nav-header md-whiteframe-glow-z1" layout="row" layout-align="start center" layout-padding>
    <div class="logo md-accent-bg" layout="column" layout-align="center center">
        <span>F</span>
    </div>
    <span class="logo-text">FUSE</span>
</md-toolbar>

<md-content flex role="navigation">

    <div ms-nav class="navigation">

        <ul class="ms-nav-group">
            <li class="ms-nav-item">
                <span class="group-title">FUSE</span>
            </li>

            <li class="ms-nav-item">
                <a ui-sref="app.dashboard" ui-sref-active="active" md-ink-ripple>
                    <md-icon md-font-icon="icon-dashboard" class="s18 ms-nav-icon md-font md-default-theme"></md-icon>
                    <span class="ms-nav-title">Dashboard</span>
                </a>
            </li>

            <li class="ms-nav-item">
                <a ui-sref="app.calendar" ui-sref-active="active" md-ink-ripple>
                    <md-icon md-font-icon="icon-today" class="s18 ms-nav-icon md-font md-default-theme"></md-icon>
                    <span>Calendar</span>
                </a>
            </li>

            <li class="ms-nav-item">
                <a ui-sref="app.e-commerce" ui-sref-active="active" md-ink-ripple>
                    <md-icon md-font-icon="icon-shopping_cart"
                             class="s18 ms-nav-icon md-font md-default-theme"></md-icon>
                    <span>E-Commerce</span>
                </a>
            </li>

            <li class="ms-nav-item">
                <a ui-sref="app.e-mail" ui-sref-active="active" md-ink-ripple>
                    <md-icon md-font-icon="icon-email" class="s18 ms-nav-icon md-font md-default-theme"></md-icon>
                    <span>E-Mail</span>
                </a>
            </li>

            <li class="ms-nav-item">
                <a ui-sref="app.file-manager" ui-sref-active="active" md-ink-ripple>
                    <md-icon md-font-icon="icon-folder" class="s18 ms-nav-icon md-font md-default-theme"></md-icon>
                    <span>File Manager</span>
                </a>
            </li>

            <li class="ms-nav-item">
                <a ui-sref="app.to-do" ui-sref-active="active" md-ink-ripple>
                    <md-icon md-font-icon="icon-check_box" class="s18 ms-nav-icon md-font md-default-theme"></md-icon>
                    <span>To-Do</span>
                </a>
            </li>

            <li class="ms-nav-item" ms-nav-toggle>
                <div class="ms-nav-toggle-button" md-ink-ripple>
                    <md-icon md-font-icon="icon-pages" class="s18 ms-nav-icon md-font md-default-theme"></md-icon>
                    <span>Pages</span>
                    <md-icon md-font-icon="icon-keyboard_arrow_down" class="ms-nav-icon"></md-icon>
                </div>
                <ul>
                    <li class="ms-nav-item" ms-nav-toggle>
                        <div class="ms-nav-toggle-button" md-ink-ripple>
                            <span>Authentication</span>
                            <md-icon md-font-icon="icon-keyboard_arrow_down" class="ms-nav-icon arrow"></md-icon>
                        </div>
                        <ul>
                            <li class="ms-nav-item">
                                <a ui-sref="app.pages.auth.login">
                                    <span>Login</span>
                                </a>
                            </li>

                            <li class="ms-nav-item">
                                <a ui-sref="app.pages.auth.register">
                                    <span>Register</span>
                                </a>
                            </li>

                            <li class="ms-nav-item">
                                <a ui-sref="app.pages.auth.forgot-password">
                                    <span>Forgot Password</span>
                                </a>
                            </li>

                            <li class="ms-nav-item">
                                <a ui-sref="app.pages.auth.lock">
                                    <span>Lock Screen</span>
                                </a>
                            </li>

                            <li class="ms-nav-item">
                                <a ui-sref="app.pages.profile">
                                    <span>Profile</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="ms-nav-item">
                        <a ui-sref="app.pages.coming-soon">
                            <span>Coming Soon</span>
                        </a>
                    </li>
                    <li class="ms-nav-item" ms-nav-toggle>
                        <div class="ms-nav-toggle-button" md-ink-ripple>
                            <span>Errors</span>
                            <md-icon md-font-icon="icon-keyboard_arrow_down" class="ms-nav-icon"></md-icon>
                        </div>
                        <ul>
                            <li class="ms-nav-item">
                                <a ui-sref="app.pages.errors.error-404">
                                    <span>404</span>
                                </a>
                            </li>
                            <li class="ms-nav-item">
                                <a ui-sref="app.pages.errors.error-500">
                                    <span>500</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="ms-nav-item">
                        <a ui-sref="app.pages.invoice">
                            <span>Invoice</span>
                        </a>
                    </li>

                    <li class="ms-nav-item">
                        <a ui-sref="app.pages.search">
                            <span>Search</span>
                        </a>
                    </li>

                    <li class="ms-nav-item">
                        <a ui-sref="app.pages.timeline">
                            <span>Timeline</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="ms-nav-item">
                <span class="group-title">User Interface</span>
            </li>

            <li class="ms-nav-item">
                <a ui-sref="app.ui.typography">
                    <span>Typography</span>
                </a>
            </li>

            <li class="ms-nav-item">
                <a ui-sref="app.ui.colors">
                    <span>Colors</span>
                </a>
            </li>

            <li class="ms-nav-item">
                <a ui-sref="app.ui.icons">
                    <span>Icons</span>
                </a>
            </li>

            <li class="ms-nav-item">
                <a ui-sref="app.ui.layouts">
                    <span>Layouts</span>
                </a>
            </li>

            <li class="ms-nav-item">
                <span class="group-title">Components</span>
            </li>

            <ul>
                <li class="ms-nav-item" ms-nav-toggle>
                    <div class="ms-nav-toggle-button" md-ink-ripple>
                        <span>Elements</span>
                        <md-icon md-font-icon="icon-keyboard_arrow_down" class="ms-nav-icon"></md-icon>
                    </div>

                    <ul>
                        <li class="ms-nav-item">
                            <a ui-sref="app.components.elements.buttons">
                                <span>Buttons</span>
                            </a>
                        </li>
                        <li class="ms-nav-item">
                            <a ui-sref="app.components.elements.card">
                                <span>Card</span>
                            </a>
                        </li>
                        <li class="ms-nav-item">
                            <a ui-sref="app.components.elements.dialog">
                                <span>Dialog</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="ms-nav-item" ms-nav-toggle>
                    <div class="ms-nav-toggle-button" md-ink-ripple>
                        <span>Tables</span>
                        <md-icon md-font-icon="icon-keyboard_arrow_down" class="ms-nav-icon"></md-icon>
                    </div>

                    <ul>
                        <li class="ms-nav-item">
                            <a ui-sref="app.components.tables.standart-table">
                                <span>Standart Table</span>
                            </a>
                        </li>
                        <li class="ms-nav-item">
                            <a ui-sref="app.components.tables.data-table">
                                <span>Data Table</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="ms-nav-item">
                    <a ui-sref="app.components.price-tables">
                        <span>Price Tables</span>
                    </a>
                </li>

                <li class="ms-nav-item">
                    <a ui-sref="app.components.charts">
                        <span>Charts</span>
                    </a>
                </li>

                <li class="ms-nav-item">
                    <a ui-sref="app.components.maps">
                        <span>Maps</span>
                    </a>
                </li>

                <li class="ms-nav-item">
                    <a ui-sref="app.components.widgets">
                        <span>Widgets</span>
                    </a>
                </li>
            </ul>
        </ul>
    </div>
    <!--
        <ul class="navigation">
            <li ng-repeat="section in vm.navigation.sections" class="parent-list-item {{section.className || ''}}"
                ng-class="{'parentActive' : isSectionSelected(section)}">
                <h2 class="menu-heading md-subhead" ng-if="section.type === 'heading'"
                    id="heading_{{ section.name | nospace }}">
                    {{section.name}}
                </h2>
                <menu-link section="section" ng-if="section.type === 'link'"></menu-link>

                <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>

                <ul ng-if="section.children" class="menu-nested-list">
                    <li ng-repeat="child in section.children" ng-class="{'childActive' : isSectionSelected(child)}">
                        <menu-link section="child" ng-if="child.type === 'link'"></menu-link>

                        <menu-toggle section="child" ng-if="child.type === 'toggle'"></menu-toggle>
                    </li>
                </ul>
            </li>
        </ul>-->
</md-content>

