<div class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="column" layout-align="center start">
        <div class="breadcrumb">
            <span class="parent">Custom Directives</span>
        </div>

        <div class="title">ms-search-bar</div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="card md-whiteframe-4dp" layout="column">

            <hljs language="html" class="source-code">
                <ms-search-bar></ms-search-bar>
            </hljs>

            <span class="h2 pt-16">Description:</span>
            <p>
                <b>ms-search-bar</b> is a helper directive that we used to create the global search bar. You can find it
                in the toolbar: <em>app/toolbar/layouts/vertical-navigation/toolbar.html</em>.
            </p>

        </div>

    </div>
    <!-- / CONTENT -->

</div>