// Variables
$toolbarHeight: 64px;

#toolbar {
    height: $toolbarHeight;
    min-height: $toolbarHeight;
    max-height: $toolbarHeight;
    z-index: 55;

    #navigation-toggle {
        width: $toolbarHeight;
        height: $toolbarHeight;
        margin: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.13);
        border-radius: 0;
    }

    #navigation-sidenav-mode-toggle {
        width: $toolbarHeight;
        height: $toolbarHeight;
        margin: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.13);
        border-radius: 0;

        md-icon {
            transition: transform 0.3s ease-in-out 0.1s;
            transform: rotate(0deg);
        }
    }

    #search {
        font-size: 1.3rem;
        margin-left: 24px;

        input {
            margin-left: 16px;
            background-color: transparent;
        }
    }

    #user-menu {

        .user-button {
            margin: 0;
            padding: 0 16px;
            height: $toolbarHeight;
            text-transform: none;

            .username {
                margin: 0 12px 0 8px;
            }
        }
    }

    #quick-panel-toggle {
        width: $toolbarHeight;
        height: $toolbarHeight;
        margin: 0;
        border-left: 1px solid rgba(0, 0, 0, 0.13);
        border-radius: 0;
    }
}

.navigation-folded {

    #toolbar {

        #navigation-sidenav-mode-toggle {

            md-icon {
                transition: transform 0.3s ease-in-out 0.1s;
                transform: rotate(180deg);
            }
        }
    }
}