<div layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" flex>
        <md-button id="navigation-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('navigation')"
                   hide-gt-md aria-label="Toggle navigation" translate
                   translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
        </md-button>

        <md-button id="navigation-sidenav-mode-toggle" class="md-icon-button"
                   ng-click="vm.toggleNavigationSidenavFold($event)" hide show-gt-md
                   aria-label="Toggle navigation mode" translate
                   translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION_MODE">
            <md-icon md-font-icon="icon-backburger" class="icon"></md-icon>
        </md-button>

        <div id="search" flex layout="row" layout-align="start center">
            <label for="search-input" layout="column">
                <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
            </label>
            <input id="search-input" type="text" ng-model="vm.search" placeholder="Click and type to search anywhere"
                   translate
                   translate-attr-placeholder="TOOLBAR.SEARCH" flex>
        </div>

        <md-progress-circular ng-if="$root.loadingProgress" class="md-accent" md-mode="indeterminate" md-diameter="32">
        </md-progress-circular>
    </div>

    <div layout="row" layout-align="start center">
        <md-menu id="user-menu" md-offset="17 40" md-position-mode="target-right target">
            <md-button class="user-button md-background-bg" ng-click="$mdOpenMenu()" aria-label="User settings"
                       translate
                       translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                <div layout="row" layout-align="space-between center">
                    <img class="avatar" src="assets/images/avatars/profile-img.jpeg">
                    <span class="username" hide-sm>Mustafa</span>
                    <md-icon md-menu-origin md-menu-align-target md-font-icon="icon-chevron-down"
                             class="icon s16"  hide-sm></md-icon>
                </div>
            </md-button>

            <md-menu-content width="4">
                <md-menu-item ng-repeat="item in [1, 2, 3]">
                    <md-button ng-click="ctrl.announceClick($index)">
                        <md-icon md-font-icon="icon-cog" class="icon s16"></md-icon>
                        <p>Option {{item}}</p>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-button id="quick-panel-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('quick-panel')"
                   aria-label="Toggle quick panel" translate translate-attr-aria-label="TOOLBAR.TOGGLE_QUICK_PANEL">
            <md-icon md-font-icon="icon-format-list-bulleted" class="icon"></md-icon>
        </md-button>
    </div>
</div>
