<div layout="row" layout-align="space-between center" flex="" class="fill-height">
    <div layout="row" layout-align="start center" flex class="search">
        <md-icon flex md-font-icon="icon-search" class="name md-background-bg s24"></md-icon>
        <input flex ng-model="vm.search" type="text" placeholder="Click and type to search anywhere">
    </div>

    <md-progress-circular ng-if="$root.loadingProgress" class="md-accent" md-mode="indeterminate"
                          md-diameter="32"></md-progress-circular>

    <div class="user" layout="row" layout-align="center center">
        <md-menu md-offset="200 70">
            <md-button id="user-button" aria-label="account settings" ng-click="$mdOpenMenu()"
                       class="md-background-bg ">
                <div layout="row" layout-align="space-between center">
                    <img src="assets/images/avatars/profile-img.jpeg" class="mini-profile-img"/>
                    <span class="username">
                        Mustafa
                    </span>
                    <md-icon md-font-icon="icon-keyboard_arrow_down" class="md-background-bg s18"></md-icon>
                </div>
            </md-button>

            <md-menu-content width="4">
                <md-menu-item ng-repeat="item in [1, 2, 3]">
                    <md-button ng-click="ctrl.announceClick($index)">
                        <p>Option {{item}}</p>
                        <md-icon md-menu-align-target md-font-icon="icon-settings_applications"></md-icon>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-button class="notifications md-icon-button" aria-label="notifications"
                   ng-click="vm.notifySideNavToggle()">
            <md-icon md-font-icon="icon-toc" class="s20"></md-icon>
            <div class="badge md-warn-bg"></div>
        </md-button>

    </div>
</div>
