<div layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" flex>
        <md-button id="navigation-toggle" class="md-icon-button md-primary" ng-click="vm.toggleSidenav('navigation')" hide-gt-md aria-label="Toggle navigation bar">
            <i class="icon icon-menu s24"></i>
        </md-button>

        <div id="search" flex layout="row" layout-align="start center">
            <md-icon class="icon s24" md-font-icon="icon-search"></md-icon>
            <input type="text" ng-model="vm.search" placeholder="Click and type to search anywhere" flex>
        </div>

        <md-progress-circular ng-if="$root.loadingProgress" class="md-accent" md-mode="indeterminate" md-diameter="32">
        </md-progress-circular>
    </div>

    <div layout="row" layout-align="start center">
        <md-menu id="user-menu" md-offset="0 70">
            <md-button class="user-button md-primary" aria-label="User settings"
                       ng-click="$mdOpenMenu()">
                <div layout="row" layout-align="space-between center">
                    <img class="avatar" src="assets/images/avatars/profile-img.jpeg">
                    <span class="username">Mustafa</span>
                    <md-icon md-font-icon="icon-keyboard_arrow_down" class="s18"></md-icon>
                </div>
            </md-button>

            <md-menu-content width="4">
                <md-menu-item ng-repeat="item in [1, 2, 3]">
                    <md-button ng-click="ctrl.announceClick($index)">
                        <p>Option {{item}}</p>
                        <md-icon md-menu-align-target md-font-icon="icon-settings_applications"></md-icon>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-button id="quick-panel-toggle" class="md-icon-button" aria-label="Toggle quick panel"
                   ng-click="vm.toggleSidenav('quick-panel')">
            <md-icon class="icon s20" md-font-icon="icon-toc"></md-icon>
            <div class="badge md-warn-bg"></div>
        </md-button>
    </div>
</div>
