<md-dialog id="event-detail-dialog" aria-label="New Message">
    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools">
            <span class="title">{{vm.event.title}}</span>
            <span flex></span>
            <md-button class="edit-event-button md-fab md-warn" aria-label="Add event"
                       ng-click="vm.eventDialog('edit', $event, vm.event.start, vm.event)">
                <md-icon md-font-icon="icon-pencil" class="s20"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>

        <div class="event-details" layout="column">

            <div class="event-detail-row" layout="row" layout-align="start start">
                <md-icon md-font-icon="icon-clock"></md-icon>
                <div layout="column" flex>
                    <span class="h4">{{vm.event.start.format('MMMM Do YYYY, h:mm:ss a')}} <span ng-if="vm.event.end">-</span> {{vm.event.end.format('MMMM Do YYYY, h:mm:ss a')}}</span>
                    <span class="secondary-text">{{vm.event.repeat || 'Does not repeat'}}</span>
                </div>
            </div>

            <div class="event-detail-row" layout="row" layout-align="start start">
                <md-icon md-font-icon="icon-bell-ring-outline"></md-icon>
                <div layout="column" flex>
                    <span class="h4">30 minutes before</span>
                    <span class="h4">15 minutes before</span>
                    <span class="h4">30 minutes later</span>
                </div>
            </div>

            <div class="event-detail-row" layout="row" layout-align="start start">
                <md-icon md-font-icon="icon-map-marker"></md-icon>
                <div layout="column" flex>
                    <span class="h4">Istanbul, Turkey</span>
                </div>
            </div>

            <div class="event-detail-row" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-account"></md-icon>
                <div layout="row" flex>
                    <img src="assets/images/avatars/alice.png" class="avatar" alt="alice"/>
                    <img src="assets/images/avatars/joyce.png" class="avatar" alt="joyce"/>
                    <img src="assets/images/avatars/vincent.png" class="avatar" alt="vincent"/>
                </div>
            </div>

        </div>

    </md-dialog-content>
</md-dialog>