<md-dialog aria-label="New Message" id="event-detail-dialog">
    <md-toolbar class="md-accent md-hue-2 md-tall">
        <div class="md-toolbar-tools">
            <span class="title">{{vm.event.title}}</span>
            <span flex></span>
            <md-button class="edit-event-button md-fab md-warn" aria-label="Add event"
                       ng-click="vm.eventDialog('edit',$event, vm.event.start, vm.event)">
                <md-icon md-font-icon="icon-edit" class="s20"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
        <md-list>
            <md-list-item class="md-2-line">
                <md-icon md-font-icon="icon-access_time"></md-icon>
                <div class="md-list-item-text">
                    <div>
                        <span> {{vm.event.start.format('MMMM Do YYYY, h:mm:ss a')}} </span>
                        <span ng-if="vm.event.end"> - </span>
                        <span> {{vm.event.end.format('MMMM Do YYYY, h:mm:ss a')}} </span>
                    </div>
                    <p> {{vm.event.repeat || 'Does not repeat'}} </p>
                </div>
            </md-list-item>

            <md-list-item class="md-2-line">
                <md-icon md-font-icon="icon-notifications_active"></md-icon>
                <div class="md-list-item-text">
                    <p> 30 minutes before</p>

                    <p> 15 minutes before</p>

                    <p> 30 minutes later</p>
                </div>
            </md-list-item>

            <md-list-item class="md-2-line">
                <md-icon md-font-icon="icon-location_on"></md-icon>
                <div class="md-list-item-text">
                    <p> Istanbul, Turkey</p>
                </div>
            </md-list-item>

            <md-list-item class="md-2-line">
                <md-icon md-font-icon="icon-person"></md-icon>
                <div class="md-list-item-text">
                    <img src="assets/images/avatars/alice.png" class="avatar" alt="alice"/>
                    <img src="assets/images/avatars/joyce.png" class="avatar" alt="joyce"/>
                    <img src="assets/images/avatars/vincent.png" class="avatar" alt="vincent"/>
                </div>
            </md-list-item>
        </md-list>
    </md-dialog-content>
</md-dialog>