#event-detail-dialog {

    md-toolbar {
        min-height: 88px;
        height: 88px;
        min-width: 560px;
        width: 560px;
        box-sizing: border-box;

        .md-toolbar-tools {
            position: relative;
            min-height: 88px;
            height: 88px;

            .title {
                font-size: 20px;
                padding-left: 8px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .edit-event-button {
                position: absolute;
                right: 24px;
                bottom: -28px;
            }
        }
    }

    md-dialog-content {
        font-size: 15px;
        min-width: 560px;
        width: 560px;
        box-sizing: border-box;
        padding: 24px 24px 16px 24px;
    }

}

