<div class="page-layout simple simple-leftpane-fullheight" layout="row" layout-fill>

    <!-- Left pane -->
    <md-sidenav class="leftpane" md-is-locked-open="$mdMedia('gt-md')" md-component-id="leftpane">
        <span>Left pane</span>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </md-sidenav>
    <!-- / Left pane -->

    <!-- Content wrapper -->
    <div class="centerpane" layout="column" flex>

        <!-- Header -->
        <div class="header md-accent-bg" layout="row">
            <md-button class="md-icon-button leftpane-toggle" ng-click="vm.toggleSidenav('leftpane')" hide-gt-md
                       aria-label="Toggle left pane">
                <i class="icon icon-menu"></i>
            </md-button>

            <span>Header</span>
        </div>
        <!-- / Header -->

        <!-- Content -->
        <div class="content" flex>
            <span>Content</span>
        </div>
        <!-- / Content -->

    </div>
    <!-- / Content wrapper -->

</div>