<div id="dashboard-project" class="page-layout simple right-sidenav" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- HEADER -->
        <div class="header md-accent-bg" layout="column" layout-align="space-between">
            <div layout="row" layout-align="space-between">
                <div>
                    <span class="md-display-1 font-weight-300">Welcome back, John!</span>
                </div>

                <div class="toolbar">
                    <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-lg
                               aria-label="Toggle sidenav">
                        <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                    </md-button>
                </div>
            </div>

            <div layout="row">
                <div class="selected-project">{{vm.selectedProject.name}}</div>

                <md-menu id="projects-menu" md-offset="0 48">
                    <md-button class="md-icon-button project-selector" ng-click="$mdOpenMenu()"
                               aria-label="Select project" md-menu-origin md-menu-align-target>
                        <md-icon md-font-icon="icon-dots-horizontal"></md-icon>
                    </md-button>

                    <md-menu-content width="3" class="md-background-bg">
                        <md-menu-item ng-repeat="project in vm.projects">
                            <md-button ng-click="vm.selectProject(project)" aria-label="{{project.name}}">
                                {{project.name}}
                                <md-icon ng-if="vm.selectedProject == project" md-font-icon="icon-check"></md-icon>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <md-tabs md-dynamic-height>

                <md-tab label="Home">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 1 -->
                        <ms-widget flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                            <!-- Front -->
                            <ms-widget-front class="bg-white" layout="column" flex>
                                <div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
                                    <md-select class="simplified font-size-16" ng-model="vm.widget1.currentRange"
                                               aria-label="Change range">
                                        <md-option ng-repeat="(key, range) in vm.widget1.ranges"
                                                   value="{{key}}">
                                            {{range}}
                                        </md-option>
                                    </md-select>

                                    <md-menu class="pr-8">
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                                   aria-label="more">
                                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>

                                        <md-menu-content width="3">
                                            <md-menu-item>
                                                <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                                    Details
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                    Refresh
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>

                                <div class="pb-32" layout="column" layout-align="center center">
                                    <div class="fg-light-blue font-size-72 font-weight-500">
                                        {{vm.widget1.data.count[vm.widget1.currentRange]}}
                                    </div>
                                    <div class="h3 secondary-text">{{vm.widget1.data.label}}</div>
                                </div>

                                <div class="p-16 bg-grey-50 border-top" layout="row" layout-align="start center">
                                    <md-icon md-font-icon="icon-check" class="icon ml-0 mr-8"></md-icon>
                                    <span class="h4 secondary-text">{{vm.widget1.data.extra.label}}:</span>
                                    <span class="h4 ml-8">{{vm.widget1.data.extra.count[vm.widget1.currentRange]}}</span>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->

                            <!-- Back -->
                            <ms-widget-back class="p-16 bg-white" layout="column" flex>
                                <div class="flip-to-front">
                                    <md-button class="md-icon-button" ng-click="flipWidget()"
                                               aria-label="Flip widget">
                                        <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                    </md-button>
                                </div>

                                <div>
                                    {{vm.widget1.detail}}
                                </div>
                            </ms-widget-back>
                            <!-- / Back -->

                        </ms-widget>
                        <!-- / WIDGET 1 -->


                        <!-- WIDGET 2 -->
                        <ms-widget flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                            <!-- Front -->
                            <ms-widget-front class="bg-white" layout="column" flex>
                                <div class="p-16 h-55" layout="row" layout-align="space-between center">
                                    <span class="h3">{{vm.widget2.title}}</span>

                                    <md-menu>
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                                   aria-label="more">
                                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>

                                        <md-menu-content width="2">
                                            <md-menu-item>
                                                <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                                    Details
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                    Refresh
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>

                                <div class="pb-32" layout="column" layout-align="center center">
                                    <div class="fg-red font-size-72 font-weight-500">
                                        {{vm.widget2.data.count}}
                                    </div>
                                    <div class="h3 secondary-text">{{vm.widget2.data.label}}</div>
                                </div>

                                <div class="p-16 bg-grey-50 border-top" layout="row" layout-align="start center">
                                    <md-icon md-font-icon="icon-alert" class="icon ml-0 mr-8"></md-icon>
                                    <span class="h4 secondary-text">{{vm.widget2.data.extra.label}}:</span>
                                    <span class="h4 ml-8">{{vm.widget2.data.extra.count}}</span>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->

                            <!-- Back -->
                            <ms-widget-back class="p-16 bg-white" layout="column" flex>
                                <div class="flip-to-front">
                                    <md-button class="md-icon-button" ng-click="flipWidget()"
                                               aria-label="Flip widget">
                                        <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                    </md-button>
                                </div>

                                <div>
                                    {{vm.widget2.detail}}
                                </div>
                            </ms-widget-back>
                            <!-- / Back -->

                        </ms-widget>
                        <!-- / WIDGET 2 -->


                        <!-- WIDGET 3 -->
                        <ms-widget flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                            <!-- Front -->
                            <ms-widget-front class="bg-white" layout="column" flex>
                                <div class="p-16 h-55" layout="row" layout-align="space-between center">
                                    <span class="h3">{{vm.widget3.title}}</span>

                                    <md-menu>
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                                   aria-label="more">
                                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>

                                        <md-menu-content width="2">
                                            <md-menu-item>
                                                <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                                    Details
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                    Refresh
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>

                                <div class="pb-32" layout="column" layout-align="center center">
                                    <div class="fg-orange font-size-72 font-weight-500">
                                        {{vm.widget3.data.count}}
                                    </div>
                                    <div class="h3 secondary-text">{{vm.widget3.data.label}}</div>
                                </div>

                                <div class="p-16 bg-grey-50 border-top" layout="row" layout-align="start center">
                                    <md-icon md-font-icon="icon-check" class="icon ml-0 mr-8"></md-icon>
                                    <span class="h4 secondary-text">{{vm.widget3.data.extra.label}}:</span>
                                    <span class="h4 ml-8">{{vm.widget3.data.extra.count}}</span>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->

                            <!-- Back -->
                            <ms-widget-back class="p-16 bg-white" layout="column" flex>
                                <div class="flip-to-front">
                                    <md-button class="md-icon-button" ng-click="flipWidget()"
                                               aria-label="Flip widget">
                                        <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                    </md-button>
                                </div>

                                <div>
                                    {{vm.widget3.detail}}
                                </div>
                            </ms-widget-back>
                            <!-- / Back -->

                        </ms-widget>
                        <!-- / WIDGET 3 -->

                        <!-- WIDGET 4 -->
                        <ms-widget flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                            <!-- Front -->
                            <ms-widget-front class="bg-white" layout="column" flex>
                                <div class="p-16 h-55" layout="row" layout-align="space-between center">
                                    <span class="h3">{{vm.widget4.title}}</span>

                                    <md-menu>
                                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                                   aria-label="more">
                                            <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                        </md-button>

                                        <md-menu-content width="2">
                                            <md-menu-item>
                                                <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                                    Details
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                                    Refresh
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>

                                <div class="pb-32" layout="column" layout-align="center center">
                                    <div class="fg-blue-grey font-size-72 font-weight-500">{{vm.widget4.data.count}}
                                    </div>
                                    <div class="h3 secondary-text">{{vm.widget4.data.label}}</div>
                                </div>

                                <div class="p-16 bg-grey-50 border-top" layout="row" layout-align="start center">
                                    <md-icon md-font-icon="icon-check" class="icon ml-0 mr-8"></md-icon>
                                    <span class="h4 secondary-text">{{vm.widget4.data.extra.label}}:</span>
                                    <span class="h4 ml-8">{{vm.widget4.data.extra.count}}</span>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->

                            <!-- Back -->
                            <ms-widget-back class="p-16 bg-white" layout="column" flex>
                                <div class="flip-to-front">
                                    <md-button class="md-icon-button" ng-click="flipWidget()"
                                               aria-label="Flip widget">
                                        <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                                    </md-button>
                                </div>

                                <div>
                                    {{vm.widget4.detail}}
                                </div>
                            </ms-widget-back>
                            <!-- / Back -->

                        </ms-widget>
                        <!-- / WIDGET 4 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 5 -->
                        <ms-widget layout="column" flex="100">

                            <!-- Front -->
                            <ms-widget-front class="bg-white" flex>
                                <div class="bg-light-blue fg-white p-16" layout="row"
                                     layout-align="start center"
                                     flex="100">
                                    <div class="h2 weight-500">{{vm.widget5.title}}</div>
                                </div>

                                <div class="ph-16" flex="100">
                                    <div layout="row" layout-align="space-between center" flex="100">
                                        <div class="h3">Backend App Issues</div>

                                        <div class="pv-8">
                                            <md-button class="ph-16"
                                                       ng-repeat="(key, range) in vm.widget5.ranges"
                                                       ng-click="vm.widget5.currentRange = key"
                                                       ng-disabled="vm.widget5.currentRange == key">
                                                {{range}}
                                            </md-button>
                                        </div>
                                    </div>

                                    <md-divider flex="100"></md-divider>
                                </div>

                                <div layout="row" layout-align="start center" layout-wrap flex>
                                    <div class="p-16" layout="row" layout-align="start center" flex="100"
                                         flex-gt-md="50">
                                        <div flex>
                                            <canvas class="chart chart-bar"
                                                    chart-data="vm.widget5.chart.data[vm.widget5.currentRange]"
                                                    chart-labels="vm.widget5.chart.labels" chart-legend="true"
                                                    chart-series="vm.widget5.chart.series"
                                                    chart-option="vm.widget5.chart.options"
                                                    chart-colours="vm.widget5.chart.colors">
                                            </canvas>
                                        </div>
                                    </div>

                                    <div class="p-8" layout="row" layout-align="space-between center"
                                         layout-wrap flex="100" flex-gt-md="50">
                                        <div class="ph-8 pv-16" layout="column"
                                             flex="33" ng-repeat="extraData in vm.widget5.extraData">
                                            <div class="secondary-text">{{extraData.label}}</div>
                                            <div class="md-display-1">
                                                {{extraData.count[vm.widget5.currentRange]}}
                                            </div>
                                            <canvas class="chart chart-line h-45 mt-8 mb-16"
                                                    chart-data="extraData.chart.data[vm.widget5.currentRange]"
                                                    chart-labels="extraData.chart.labels" chart-legend="false"
                                                    chart-series="extraData.chart.series"
                                                    chart-options="vm.widget5.miniLineChartOptions"
                                                    chart-colours="extraData.chart.color">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 5 -->

                    </div>
                    <!-- / WIDGET GROUP -->


                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 6 -->
                        <ms-widget class="" layout="column" flex="100" flex-gt-lg="50">

                            <!-- Front -->
                            <ms-widget-front class="bg-white" flex>
                                <div class="ph-16" layout="row" layout-align="space-between center"
                                     flex="100">
                                    <div class="h3">{{vm.widget6.title}}</div>

                                    <div class="pv-16">
                                        <md-select class="simplified" ng-model="vm.widget6.currentRange"
                                                   aria-label="Change range">
                                            <md-option ng-repeat="(key, range) in vm.widget6.ranges"
                                                       value="{{key}}">
                                                {{range}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </div>

                                <md-divider flex="100"></md-divider>

                                <div class="p-16" layout="row" layout-align="start center" flex="100">
                                    <div flex>
                                        <canvas class="chart chart-doughnut"
                                                chart-data="vm.widget6.chart.data[vm.widget6.currentRange]"
                                                chart-labels="vm.widget6.chart.labels" chart-legend="true"
                                                chart-series="vm.widget6.chart.series"
                                                chart-colours="vm.widget6.chart.colors">
                                        </canvas>
                                    </div>
                                </div>

                                <div class="ph-16">
                                    <md-divider></md-divider>
                                </div>

                                <div class="p-16" layout="row" layout-align="start center" flex="100">
                                    <div class="border-right" layout="column" layout-align="center center" flex>
                                        <span class="md-display-1">{{vm.widget6.footerLeft.count[vm.widget6.currentRange]}}</span>
                                        <span class="secondary-text">{{vm.widget6.footerLeft.title}}</span>
                                    </div>

                                    <div layout="column" layout-align="center center" flex>
                                        <span class="md-display-1">{{vm.widget6.footerRight.count[vm.widget6.currentRange]}}</span>
                                        <span class="h3 secondary-text">{{vm.widget6.footerRight.title}}</span>
                                    </div>
                                </div>

                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 6 -->

                        <!-- WIDGET 7 -->
                        <ms-widget class="" layout="column" flex="100" flex-gt-lg="50">

                            <!-- Front -->
                            <ms-widget-front class="bg-white" flex>
                                <div class="ph-16" layout="row" layout-align="space-between center"
                                     flex="100">
                                    <div class="h3">{{vm.widget7.title}}</div>

                                    <div class="pv-16">
                                        <md-select class="simplified" ng-model="vm.widget7.currentRange"
                                                   aria-label="Change range">
                                            <md-option ng-repeat="(key, range) in vm.widget7.ranges"
                                                       value="{{key}}">
                                                {{range}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </div>

                                <md-divider flex="100"></md-divider>

                                <div class="p-16" layout="row" layout-align="space-between center"
                                     ng-repeat="event in vm.widget7.schedule[vm.widget7.currentRange]">
                                    <div>
                                        <div class="h3">{{event.title}}</div>
                                        <div>
                                            <span class="secondary-text">{{event.time}}</span><span
                                                ng-if="event.location">, {{event.location}}</span>
                                        </div>
                                    </div>

                                    <md-button class="md-icon-button" aria-label="More information">
                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>
                                </div>

                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 7 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                </md-tab>

                <md-tab label="Budget Summary">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 8 -->
                        <ms-widget class="" layout="column" flex="100" flex-gt-lg="50">

                            <!-- Front -->
                            <ms-widget-front class="bg-white" flex>
                                <div class="h3 p-16" flex="100">
                                    {{vm.widget8.title}}
                                </div>

                                <md-divider flex="100"></md-divider>

                                <div class="p-16" layout="row" layout-align="start center" flex="100">
                                    <div flex>
                                        <canvas class="chart chart-pie"
                                                chart-data="vm.widget8.chart.data"
                                                chart-labels="vm.widget8.chart.labels" chart-legend="true"
                                                chart-series="vm.widget8.chart.series"
                                                chart-colours="vm.widget8.chart.colors">
                                        </canvas>
                                    </div>
                                </div>

                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 8 -->

                        <!-- WIDGET 9 -->
                        <ms-widget class="" layout="column" flex="100" flex-gt-lg="50">

                            <!-- Front -->
                            <ms-widget-front class="bg-white" flex>
                                <div class="ph-16" layout="row" layout-align="space-between center"
                                     flex="100">
                                    <div class="h3">{{vm.widget9.title}}</div>

                                    <div class="pv-16">
                                        <md-select class="simplified" ng-model="vm.widget9.currentRange"
                                                   aria-label="Change range">
                                            <md-option ng-repeat="(key, range) in vm.widget9.ranges"
                                                       value="{{key}}">
                                                {{range}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </div>

                                <md-divider flex="100"></md-divider>

                                <div class="p-16" layout="row" layout-align="space-between center"
                                     layout-wrap flex="100" flex-gt-sm="50">
                                    <div class="p-8">
                                        <div class="secondary-text">{{vm.widget9.totalSpent.title}}</div>
                                        <div class="md-display-1 font-weight-300">
                                            {{vm.widget9.totalSpent.count[vm.widget9.currentRange]}}
                                        </div>
                                    </div>
                                    <div class="p-8" flex>
                                        <canvas class="chart chart-line h-60"
                                                chart-data="vm.widget9.totalSpent.chart.data[vm.widget9.currentRange]"
                                                chart-labels="vm.widget9.totalSpent.chart.labels"
                                                chart-legend="false"
                                                chart-series="vm.widget9.totalSpent.chart.series"
                                                chart-options="vm.widget9.miniLineChartOptions"
                                                chart-options="vm.widget9.miniLineChartOptions"
                                                chart-colours="vm.widget9.totalSpent.chart.color">
                                        </canvas>
                                    </div>
                                </div>

                                <div class="p-16" layout="row" layout-align="space-between center"
                                     layout-wrap flex="100" flex-gt-sm="50">
                                    <div class="p-8">
                                        <div class="secondary-text">{{vm.widget9.remaining.title}}</div>
                                        <div class="md-display-1 font-weight-300">
                                            {{vm.widget9.remaining.count[vm.widget9.currentRange]}}
                                        </div>
                                    </div>
                                    <div class="p-8" flex>
                                        <canvas class="chart chart-line h-60"
                                                chart-data="vm.widget9.remaining.chart.data[vm.widget9.currentRange]"
                                                chart-labels="vm.widget9.remaining.chart.labels"
                                                chart-legend="false"
                                                chart-series="vm.widget9.remaining.chart.series"
                                                chart-options="vm.widget9.miniLineChartOptions"
                                                chart-options="vm.widget9.miniLineChartOptions"
                                                chart-colours="vm.widget9.remaining.chart.color">
                                        </canvas>
                                    </div>
                                </div>

                                <div class="ph-16">
                                    <md-divider></md-divider>
                                </div>

                                <div class="p-24">
                                    <div class="secondary-text">{{vm.widget9.totalBudget.title}}</div>
                                    <div class="md-display-1 font-weight-300">
                                        {{vm.widget9.totalBudget.count}}
                                    </div>
                                </div>

                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 9 -->

                    </div>
                    <!-- / WIDGET GROUP -->


                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 10 -->
                        <ms-widget class="" layout="column" flex="100">

                            <!-- Front -->
                            <ms-widget-front class="bg-white" flex>

                                <div class="simple-table-container" ms-responsive-table>
                                    <div class=" table-title">
                                        {{vm.widget10.title}}
                                    </div>

                                    <table class="simple">
                                        <thead>
                                            <tr>
                                                <th>Budget Type</th>
                                                <th>Total Budget</th>
                                                <th>Spent ($)</th>
                                                <th>Spent (%)</th>
                                                <th>Remaining ($)</th>
                                                <th>Remaining (%)</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="row in vm.widget10.tableData">
                                                <td>{{row.budgetType}}</td>
                                                <td>{{row.totalBudget}}</td>
                                                <td>{{row.spentAmount}}</td>
                                                <td>{{row.spentPercentage}}</td>
                                                <td>{{row.remainingAmount}}</td>
                                                <td>{{row.remainingPercentage}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 10 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                </md-tab>

                <md-tab label="Team Members">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group" layout="row" flex="100" layout-wrap>

                        <!-- WIDGET 11 -->
                        <ms-widget class="" layout="column" flex="100">

                            <!-- Front -->
                            <ms-widget-front class="bg-white" flex>

                                <div class="md-title p-24">{{vm.widget11.title}}</div>

                                <table class="dataTable row-border hover" datatable="ng"
                                       dt-options="vm.widget11.dtOptions">
                                    <thead>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Name</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Position</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Office</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Phone</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">E-Mail</span>
                                            </div>
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="member in ::vm.widget11.teamMembers">
                                            <td>{{ member.name }}</td>
                                            <td>{{ member.position }}</td>
                                            <td>{{ member.office }}</td>
                                            <td>{{ member.phone }}</td>
                                            <td>{{ member.email }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </ms-widget-front>
                            <!-- / Front -->

                        </ms-widget>
                        <!-- / WIDGET 11 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                </md-tab>
            </md-tabs>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav md-sidenav-right" md-is-locked-open="$mdMedia('gt-lg')" md-component-id="sidenav"
                ms-scroll ms-sidenav-helper>

        <!-- WIDGET GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- NOW WIDGET -->
            <ms-widget class="sidenav-widget" layout="column" flex="100">

                <!-- Front -->
                <ms-widget-front flex>

                    <div class="p-16" layout="row" layout-align="space-between center">
                        <span class="h3">{{vm.nowWidget.now.weekDay}}, {{vm.nowWidget.now.hour}}:{{vm.nowWidget.now.minute}}:{{vm.nowWidget.now.second}}</span>

                        <md-menu>
                            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" md-menu-origin
                                       md-menu-align-target
                                       aria-label="Options">
                                <md-icon md-font-icon="icon-dots-vertical" class="icon"></md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-cog" class="icon"></md-icon>
                                        Settings
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div class="p-16" layout="column" layout-align="center center">
                        <div class="h1 secondary-text">
                            <span>{{vm.nowWidget.now.month}}</span>
                        </div>

                        <div class="font-size-72 secondary-text font-weight-400">
                            {{vm.nowWidget.now.day}}
                        </div>

                        <div class="h1 secondary-text">
                            <span>{{vm.nowWidget.now.year}}</span>
                        </div>
                    </div>

                    <md-divider></md-divider>

                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / NOW WIDGET -->


            <!-- WEATHER WIDGET -->
            <ms-widget class="sidenav-widget" layout="column" flex="100">

                <!-- Front -->
                <ms-widget-front flex>

                    <div class="p-16" layout="row" layout-align="space-between center">
                        <span class="h4">
                            <md-icon md-font-icon="icon-map-marker" class="icon mr-8"></md-icon>
                            {{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].name}}
                        </span>

                        <md-menu>
                            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" md-menu-origin
                                       md-menu-align-target
                                       aria-label="Options">
                                <md-icon md-font-icon="icon-dots-vertical" class="icon"></md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-refresh" class="icon"></md-icon>
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vm.nowWidget.dummyFunction()">
                                        <md-icon md-font-icon="icon-cog" class="icon"></md-icon>
                                        Settings
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div class="p-16 pb-32" layout="column" layout-align="center center">
                        <div layout="row" layout-align="center center">
                            <md-icon
                                    md-font-icon="{{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].icon}}"
                                    class="icon s48 mr-16"></md-icon>
                            <span class="md-display-3 font-weight-300 secondary-text">
                                {{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].temp[vm.weatherWidget.tempUnit]}}
                            </span>
                            <span class="font-size-56 font-weight-300 hint-text text-super ml-8">&deg;</span>
                            <span class="md-display-3 font-weight-300 hint-text">{{vm.weatherWidget.tempUnit}}</span>
                        </div>
                    </div>

                    <div class="bg-grey-300 pv-16 ph-24" layout="row" layout-align="space-between center">
                        <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-weather-windy" class="icon mr-8"></md-icon>
                            <span>
                                {{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].windSpeed[vm.weatherWidget.speedUnit]}}
                            </span>
                            <span class="secondary-text ml-5">{{vm.weatherWidget.speedUnit}}</span>
                        </div>

                        <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-compass-outline" class="icon mr-8"></md-icon>
                            <span>{{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].windDirection}}</span>
                        </div>

                        <div layout="row" layout-align="start center">
                            <md-icon md-font-icon="icon-umbrella" class="icon mr-8"></md-icon>
                            <span>{{vm.weatherWidget.locations[vm.weatherWidget.currentLocation].rainProbability}}</span>
                        </div>
                    </div>

                    <div class="pv-16">
                        <div class="pv-16 ph-24" layout="row" layout-align="space-between center"
                             ng-repeat="day in vm.weatherWidget.locations[vm.weatherWidget.currentLocation].next3Days">
                            <span class="h4">{{day.name}}</span>
                            <div layout="row" layout-align="start center">
                                <md-icon class="mr-16" md-font-icon="{{day.icon}}" class="icon"></md-icon>
                                <span class="h2">{{day.temp[vm.weatherWidget.tempUnit]}}</span>
                                <span class="h2 font-weight-300 secondary-text text-super">&deg;</span>
                                <span class="h2 font-weight-300 secondary-text">{{vm.weatherWidget.tempUnit}}</span>
                            </div>
                        </div>
                    </div>

                    <md-divider></md-divider>

                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WEATHER WIDGET -->

        </div>
        <!-- / WIDGET GROUP -->

    </md-sidenav>
    <!-- / SIDENAV -->

</div>