<div layout-fill layout="row" layout-align="start center">
    <md-checkbox aria-label="{{$index}}" class="checkbox" ng-checked="vm.checkExists(mail, vm.checked)"
                 ng-click="vm.checkToggle(mail, vm.checked,$event)">
    </md-checkbox>

    <img ng-if="mail.from.avatar" alt="{{ mail.from.name }}" ng-src="{{ mail.from.avatar}}" class="avatar"/>

    <div ng-if="!mail.from.avatar" class="avatar md-color-bg" ng-random-class="vm.colors">
        {{ mail.from.name[0] }}
    </div>

    <div layout="column" class="info" flex>
        <div class="name">
            {{mail.from.name }}
        </div>

        <div class="subject">
            {{mail.subject | limitTo:50}}{{mail.subject.length > 50 ? '...' : ''}}
        </div>

        <div class="message">
            {{mail.message | htmlToPlaintext | limitTo:50}}{{mail.message.length > 50 ? '...' : ''}}
        </div>
    </div>

    <div class="time">{{mail.time}}</div>

    <md-button class="md-icon-button" ng-click="vm.starredToggle(mail,$event)" aria-label="starred">
        <md-icon ng-if="mail.starred" md-font-icon="icon-star" class="md-color-font yellow"></md-icon>
        <md-icon ng-if="!mail.starred" md-font-icon="icon-star_outline"></md-icon>
    </md-button>

    <md-menu>
        <md-button aria-label="more" class="md-icon-button"
                   ng-click="$mdOpenMenu($event)">
            <md-icon md-font-icon="icon-more_vert"></md-icon>
        </md-button>

        <md-menu-content width="3">
            <md-menu-item>
                <md-button aria-label="all">Mark as unread</md-button>
            </md-menu-item>

            <md-menu-item>
                <md-button aria-label="none">Mark as important</md-button>
            </md-menu-item>

            <md-menu-item>
                <md-button aria-label="read">Add star</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>