<div class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg">
        <h2>Tabbed</h2>
        <h3 class="secondary-text">Page Layouts > Simple</h3>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab label="Tab 1">

                <!-- DEMO CONTENT -->
                <div ng-include="'app/main/ui/layouts/demo-content/demo-content.html'"></div>
                <!-- / DEMO CONTENT -->
            </md-tab>

            <md-tab label="Tab 2">

                <!-- DEMO CONTENT -->
                <div ng-include="'app/main/ui/layouts/demo-content/demo-content.html'"></div>
                <!-- / DEMO CONTENT -->

            </md-tab>

            <md-tab label="Tab 3">
                <!-- DEMO CONTENT -->
                <div ng-include="'app/main/ui/layouts/demo-content/demo-content.html'"></div>
                <!-- / DEMO CONTENT -->

            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>