<div class="page-layout simple tabbed" layout="column" layout-fill>

    <!-- Header -->
    <div class="header md-accent-bg">
        <span>Header</span>
    </div>
    <!-- / Header -->

    <!-- Content -->
    <div class="content" flex>

        <md-tabs>
            <md-tab label="Tab 1">
                <span>Tab 1 - Content</span>
            </md-tab>

            <md-tab label="Tab 2">
                <span>Tab 2 - Content</span>
            </md-tab>

            <md-tab label="Tab 3">
                <span>Tab 3 - Content</span>
            </md-tab>
        </md-tabs>
        
    </div>
    <!-- / Content -->

</div>