<div class="page-layout carded right-sidenav" layout="row">

    <!-- Top background -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / Top background -->

    <!-- Center -->
    <div class="center" layout="column" flex>

        <!-- Content header -->
        <div class="header" layout="row">
            <span>Content header</span>
        </div>
        <!-- / Content header -->

        <!-- Content card -->
        <div class="content-card" layout="column" flex>

            <!-- Content toolbar -->
            <div class="toolbar" layout="row" layout-align="space-between center">
                <span>Content toolbar</span>

                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md aria-label="Toggle right pane">
                    <i class="icon icon-menu"></i>
                </md-button>
            </div>
            <!-- / Content toolbar -->

            <!-- Content -->
            <md-content class="content" flex ms-scroll>
                <span>Scrollable content</span>
            </md-content>
            <!-- / Content -->

        </div>
        <!-- / Content card-->

    </div>
    <!-- / Center -->

    <!-- Sidenav -->
    <md-sidenav class="sidenav md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')" md-component-id="sidenav" ms-scroll>

        <!-- Sidenav header -->
        <div class="header">
            <span>Sidenav header</span>
        </div>
        <!-- / Sidenav header -->

        <!-- Sidenav content -->
        <md-content class="content" flex>
            <span>Sidenav scrollable content</span>
        </md-content>
        <!-- / Sidenav content -->

    </md-sidenav>
    <!-- / Sidenav -->

</div>