#forgot-password {
    background: url('/assets/images/backgrounds/march.jpg') no-repeat;
    background-size: cover;

    #forgot-password-form {
        max-width: 384px;
        padding: 32px;

        .logo {
            border-radius: 2px;
            width: 128px;
            height: 128px;
            font-size: 86px;
            margin: 32px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
        }

        .title {
            font-size: 17px;
            margin: 16px 0 32px 0;
        }

        form {
            width: 100%;

            md-input-container {
                width: 320px;
            }

            .md-button {
                width: 220px;
                margin: 16px auto;
            }
        }

        .login {
            text-align: center;
            margin: 32px 0 24px 0;
            width: 250px;
            font-weight: 500;

            .text {
                margin-right: 8px;
            }

            .link {

            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $breakpoint-sm) {

    #forgot-password {

        #forgot-password-form {
            padding: 24px;
            width: 90%;

            form {

                md-input-container {
                    width: 100%;
                }

                .md-button {
                    width: 90%;
                }
            }
        }
    }

}