<div id="chart-widgets">

    <!-- WIDGET GROUP -->
    <div class="widget-group" layout="row" flex="100" layout-wrap>

        <!-- WIDGET 1 -->
        <ms-widget class="chart-widget" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

            <!-- Front -->
            <ms-widget-front class="md-red-bg white-text" layout="column" layout-align="space-between" flex>
                <div class="padding-bottom-16">
                    <div class="h5 weight-500 padding-bottom-8">{{vm.widget1.title}}</div>

                    <div layout="row" layout-align="start center">
                        <div class="padding-right-8">
                            <md-icon md-font-icon="icon-warning" class="s24 hint-text"></md-icon>
                        </div>

                        <div class="h2 secondary-text">{{vm.widget1.value}}%</div>
                    </div>
                </div>

                <div>
                    <c3chart bindto-id="cpu-usage">
                        <chart-column column-id="CPU"
                                      column-name="CPU"
                                      column-color="white"
                                      column-values="30,200,100,400,150,250"
                                      column-type="spline"/>
                        <chart-axis>
                            <chart-axis-y show="false"></chart-axis-y>
                        </chart-axis>

                        <chart-legend show-legend="false"/>
                        <chart-size chart-height="120"/>
                    </c3chart>
                </div>
            </ms-widget-front>
            <!-- / Front -->

        </ms-widget>
        <!-- / WIDGET 1 -->

        <!-- WIDGET 2 -->
        <ms-widget class="chart-widget" flippable="true" layout="column" flex="50" flex-gt-lg="75">

            <!-- Front -->
            <ms-widget-front class="md-white-bg" layout="column" layout-align="space-between" flex>
                <div class="padding-bottom-16">
                    <div class="h5 weight-500 padding-bottom-8">{{vm.widget2.title}}</div>
                    <div class="secondary-text">{{vm.widget2.subtitle}}</div>
                </div>

                <div>
                    <c3chart bindto-id="io-rate">
                        <chart-column column-id="Input"
                                      column-name="Input"
                                      column-color="green"
                                      column-values="30,75,290,400,150,250"
                                      column-type="line"/>
                        <chart-column column-id="Output"
                                      column-name="Output"
                                      column-color="blue"
                                      column-values="500,300,120,600,50,80"
                                      column-type="line"/>
                        <chart-axis>
                            <chart-axis-y show="false"></chart-axis-y>
                        </chart-axis>
                        <chart-legend show-legend="false"/>
                        <chart-size chart-height="120"/>
                    </c3chart>
                </div>
            </ms-widget-front>
            <!-- / Front -->

        </ms-widget>
        <!-- / WIDGET 2 -->

    </div>
    <!-- / WIDGET GROUP -->

</div>