<div id="chart-widgets" class="page-layout simple fullwidth doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">

        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">WIDGETS</span>
            </div>
            <div class="title">Chart Widgets</div>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <p class="h4 m-16">
            Here you can see some of the stat widget styles. These are just tiny example of what you can do with using
            widget directive and helper classes. You are not limited to
            these styles or widgets, you can easily create wide variety of widgets.
        </p>




        <!-- WIDGET GROUP -->
        <div class="widget-group h-300" layout="row" flex="100" layout-wrap>

            <!-- WIDGET 6 -->
            <ms-widget class="chart-widget" layout="column" flex="100">

                <!-- Front -->
                <ms-widget-front class="p-16 white-bg" layout="column" layout-align="space-between" flex>
                    <div class="pb-16">
                        <div class="h3 weight-500 pb-8">{{vm.widget6.title}}</div>
                        <div class="secondary-text">{{vm.widget6.subtitle}}</div>
                    </div>

                    <div>
                        <c3chart class="c3 stroke-2" bindto-id="memory">
                            <chart-column ng-repeat="column in vm.widget6.chart.columns"
                                          column-id="{{column.id}}"
                                          column-name="{{column.name}}"
                                          column-color="{{column.color}}"
                                          column-values="{{column.values}}"
                                          column-type="{{column.type}}"
                                    />
                            <chart-axis>
                                <chart-axis-y show="false"></chart-axis-y>
                            </chart-axis>
                            <chart-legend show-legend="false"/>
                            <chart-size chart-height="120"/>
                        </c3chart>
                    </div>

                    <md-divider class="mv-16"></md-divider>

                    <div>{{vm.widget6.text}}</div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 6 -->

        </div>
        <!-- / WIDGET GROUP -->


        <!-- WIDGET GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- WIDGET 7 -->
            <ms-widget class="chart-widget h-500" layout="column" flex="100">

                <!-- Front -->
                <ms-widget-front class="p-16 white-bg" layout="column" layout-align="space-between" flex>
                    <div class="pb-16">
                        <div class="h3 weight-500 pb-8">{{vm.widget7.title}}</div>
                        <div class="secondary-text">{{vm.widget7.subtitle}}</div>
                    </div>

                    <c3chart class="c3 stroke-2" bindto-id="sales">
                        <chart-column ng-repeat="column in vm.widget7.chart.columns"
                                      column-id="{{column.id}}"
                                      column-name="{{column.name}}"
                                      column-color="{{column.color}}"
                                      column-values="{{column.values}}"
                                      column-type="{{column.type}}"
                                />
                        <chart-size chart-height="360"/>
                    </c3chart>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 7 -->

        </div>
        <!-- / WIDGET GROUP -->

    </div>
    <!-- / CONTENT -->

</div>