#search {

    .header {

        .search {
            position: relative;
            max-width: 780px;

            .search-icon {
                position: absolute;
                left: 0;
                top: 0;
                padding: 12px;
                width: 48px;
                height: 48px;
            }

            .search-input {
                padding: 0 48px;
                background: none;
                font-size: 24px;
                line-height: 48px;
                color: @material-color-white;
                border-bottom: 2px solid rgba(255, 255, 255, 0.3);
                transition: border-color 300ms ease;

                &:focus {
                    border-color: rgba(255, 255, 255, 1);
                }

                &::-webkit-input-placeholder {
                    color: @material-color-white;
                }
            }

            .refresh {
                position: absolute;
                right: 0;
                line-height: 48px;
                height: 48px;
                width: 48px;
                margin: 0;
            }
        }
    }

    .content {

        md-tabs {

            md-tabs-content-wrapper {

                md-tab-content {
                    padding: 0;
                }
            }

            md-content {
                padding: 24px;
                background-color: transparent;
            }
        }

        .result-info {
            padding-bottom: 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);

            .md-title {
                padding-right: 8px;
            }

            .pager {

                .page-info {
                    font-weight: 500;
                    margin: 0 8px 0 0;
                }
            }
        }

        .simple-pagination {
            margin: 32px 0;
        }
    }
}