<div class="page-layout carded carded-left-pane" layout="row">

    <!-- Top background -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / Top background -->

    <!-- Left pane -->
    <md-sidenav class="left-pane" md-is-locked-open="$mdMedia('gt-md')" md-component-id="leftpane">

        <!-- Left pane header -->
        <div class="header">
            <span>Left pane header</span>
        </div>
        <!-- / Left pane header -->

        <!-- Left pane content -->
        <md-content class="content" flex>
            <span>Left pane scrollable content</span>
        </md-content>
        <!-- / Left pane content -->

    </md-sidenav>
    <!-- / Left pane -->

    <!-- Center pane -->
    <div class="center-pane" layout="column" flex>

        <!-- Center pane header -->
        <div class="header" layout="row">
            <span>Content header</span>
        </div>
        <!-- / Center pane header -->

        <!-- Content card -->
        <div class="content-card" layout="column" flex>

            <!-- Content toolbar -->
            <div class="toolbar" layout="row" layout-align="start center">
                <md-button class="md-icon-button left-pane-toggle" ng-click="vm.toggleSidenav('leftpane')" hide-gt-md aria-label="Toggle left pane">
                    <i class="icon icon-menu"></i>
                </md-button>

                <span>Content toolbar</span>
            </div>
            <!-- / Content toolbar -->

            <!-- Content -->
            <md-content class="content" flex>
                <span>Scrollable main content</span>
            </md-content>
            <!-- / Content -->

        </div>
        <!-- / Content card-->

    </div>
    <!-- / Center pane -->

</div>