#colors {

    .content {
        max-width: 1200px;
        padding: 32px;

        .color-type {
            margin: 16px 0 32px 0;

            .color {
                border-radius: 2px;
                overflow: hidden;
                margin-bottom: 16px;
            }
        }
    }
}