<md-dialog aria-label="New Message" id="compose-dialog">
    <form>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">New Message</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-input-container>
                <label>From</label>
                <input ng-model="vm.form.from" type="email" disabled>
            </md-input-container>

            <md-input-container>
                <label>To</label>
                <input ng-model="vm.form.to" type="email">
            </md-input-container>

            <md-input-container>
                <label>Cc</label>
                <input ng-model="vm.form.cc" type="email">
            </md-input-container>

            <md-input-container>
                <label>Bcc</label>
                <input ng-model="vm.form.bcc" type="email">
            </md-input-container>

            <md-input-container flex class="textarea-container">
                <label>Message</label>
                <textarea ng-model="vm.form.message" md-maxlength="250"></textarea>
            </md-input-container>

            <div class="attachment-list">
                <div class="attachment" layout="row" layout-align="space-between center">
                    <div>
                        <span class="filename">attachment-2.doc</span>
                        <span class="size">(12 Kb)</span>
                    </div>

                    <md-button class="md-icon-button">
                        <md-icon md-font-icon="icon-close" aria-label="delete attachment" class="s18"></md-icon>
                    </md-button>
                </div>

                <div class="attachment" layout="row" layout-align="space-between center">
                    <div>
                        <span class="filename">attachment-1.png</span>
                        <span class="size">(350 Kb)</span>
                    </div>
                    <md-button
                            class="md-icon-button">
                        <md-icon md-font-icon="icon-close" aria-label="delete attachment" class="s18"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-dialog-content>

        <div class="md-actions mail-form-actions" layout="row" layout-align="space-between center" layout-fill>
            <div layout="row" layout-align="start center">
                <md-button ng-click="vm.closeDialog()" ng-aria="send" class="send-button md-accent md-raised">
                    SEND
                </md-button>

                <md-button class="md-icon-button" aria-label="archive">
                    <md-icon md-font-icon="icon-text_format"></md-icon>
                </md-button>

                <div class="divider-vert"></div>

                <md-button class="md-icon-button" aria-label="archive">
                    <md-icon md-font-icon="icon-attach_file"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="archive">
                    <md-icon md-font-icon="icon-insert_photo"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="archive">
                    <md-icon md-font-icon="icon-insert_emoticon"></md-icon>
                </md-button>
            </div>

            <md-button class="md-icon-button" aria-label="delete">
                <md-icon md-font-icon="icon-delete"></md-icon>
            </md-button>
        </div>
    </form>
</md-dialog>