.app1-leftpane {
    min-height: 100%;
    background-color: rgba(244, 244, 244, 1) !important;

    // Header
    header {
        background-image: url('/assets/images/backgrounds/mail-bg.png');
        background-size: cover;
        min-height: 184px;
        height: 184px;

        .header-left {
            width: 220px;
            padding: 32px;
        }

        .header-right {
            padding: 32px 32px 0 0;
        }

        .header-toolbar {
            background: #FFFFFF;
            height: 64px;
            padding: 0 24px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }

    // Content
    .content {
        overflow: hidden;

        .content-left-pane {
            width: 220px;
            padding: 32px;
        }

        .content-main {
            margin: 0 32px 0 0;
            padding: 32px 24px;
        }
    }
}