<div class="app1-leftpane" layout="column">

    <!-- Header -->
    <header class="md-accent-bg" layout="column" layout-align="space-between">
        <div flex layout="row">
            <div class="header-left">
                <span class="md-background-fg">Header Left</span>
            </div>

            <div class="header-right" flex layout="column" layout-align="space-between start">
                <span class="md-background-fg">Header Right</span>

                <!-- Header Toolbar -->
                <div class="header-toolbar" layout="row" layout-align="start center" layout-fill>
                    <span class="black-text">Header Toolbar</span>
                </div>
                <!-- Header Toolbar - End -->
            </div>
        </div>

    </header>
    <!-- End - Header -->

    <!-- Content -->
    <div class="content" layout="row">

        <!-- Left Pane -->
        <div class="content-left-pane">
            <span>Left pane</span>
        </div>
        <!-- Left Pane - End -->

        <!-- Main Content -->
        <div class="content-main md-background-bg md-whiteframe-z3" flex>
            <p>
                Main Content Area
            </p>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <p>
                Main Content Area
            </p>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <p>
                Main Content Area
            </p>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <p>
                Main Content Area
            </p>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <p>
                Main Content Area
            </p>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <p>
                Main Content Area
            </p>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <p>
                Main Content Area
            </p>
        </div>
        <!-- Main Content - End -->

    </div>
    <!-- Content - End -->

</div>

