<div class="layout-app1 left-pane" layout="column">

    <!-- Header -->
    <header class="md-accent-bg" layout="row">

        <!-- Header Left -->
        <div class="header-left">
            <span class="md-background-fg">Header Left</span>
        </div>
        <!-- Header Left - End -->

        <!-- Header Right -->
        <div class="header-right" flex layout="column" layout-align="space-between start">
            <span class="md-background-fg">Header Right</span>

            <!-- Header Toolbar -->
            <div class="header-toolbar" layout="row" layout-align="start center" layout-fill>
                <span class="black-text">Header Toolbar</span>
            </div>
            <!-- Header Toolbar - End -->

        </div>
        <!-- Header Right - End -->

    </header>
    <!-- End - Header -->

    <!-- Content -->
    <div class="content" layout="row">

        <!-- Left Pane -->
        <div class="content-left-pane">
            <span>Left pane</span>
        </div>
        <!-- Left Pane - End -->

        <!-- Main Content -->
        <div class="content-main md-background-bg md-whiteframe-z3" flex>
            <span>Main Content Area</span>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <!-- Main Content - End -->

    </div>
    <!-- Content - End -->

</div>

