/*----------------------------------------------------------------*/
/*  Helpers
/*----------------------------------------------------------------*/
.no-margin {
    margin-right: 0;
}

.divider-vertical {
    background: rgba(0, 0, 0, 0.13);
    height: 24px;
    width: 1px;
    margin: 0 8px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

[fill-width] {
    min-width: 100%;
}

[fill-height] {
    min-height: 100%;
}

// Images in links
a {

    img {
        display: block;
        outline: none;
    }
}

// Responsive images
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    border: none;
}

// Scrollable
.scrollable {
    display: block;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &.only-x {
        overflow-x: auto;
        overflow-y: hidden;
    }

    &.only-y {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

// Padding helpers
// Multiples of 5, max:100
@for $i from 0 through 20 {

    .padding-#{$i * 5} {
        padding: #{($i * 5) + 'px'};
    }

    .padding-top-#{$i * 5} {
        padding-top: #{($i * 5) + 'px'};
    }

    .padding-right-#{$i * 5} {
        padding-right: #{($i * 5) + 'px'};
    }

    .padding-bottom-#{$i * 5} {
        padding-bottom: #{($i * 5) + 'px'};
    }

    .padding-left-#{$i * 5} {
        padding-left: #{($i * 5) + 'px'};
    }
}

// Multiples of 8, Max: 96, Excluding 0
@for $i from 1 through 12 {

    .padding-#{$i * 8} {
        padding: #{($i * 8) + 'px'};
    }

    .padding-top-#{$i * 8} {
        padding-top: #{($i * 8) + 'px'};
    }

    .padding-right-#{$i * 8} {
        padding-right: #{($i * 8) + 'px'};
    }

    .padding-bottom-#{$i * 8} {
        padding-bottom: #{($i * 8) + 'px'};
    }

    .padding-left-#{$i * 8} {
        padding-left: #{($i * 8) + 'px'};
    }
}

// Margin helpers
// Multiples of 5, max:100
@for $i from 0 through 20 {

    .margin-#{$i * 5} {
        margin: #{($i * 5) + 'px'};
    }

    .margin-top-#{$i * 5} {
        margin-top: #{($i * 5) + 'px'};
    }

    .margin-right-#{$i * 5} {
        margin-right: #{($i * 5) + 'px'};
    }

    .margin-bottom-#{$i * 5} {
        margin-bottom: #{($i * 5) + 'px'};
    }

    .margin-left-#{$i * 5} {
        margin-left: #{($i * 5) + 'px'};
    }
}

// Multiples of 8, Max: 96, Excluding 0
@for $i from 1 through 12 {

    .margin-#{$i * 8} {
        margin: #{($i * 8) + 'px'};
    }

    .margin-top-#{$i * 8} {
        margin-top: #{($i * 8) + 'px'};
    }

    .margin-right-#{$i * 8} {
        margin-right: #{($i * 8) + 'px'};
    }

    .margin-bottom-#{$i * 8} {
        margin-bottom: #{($i * 8) + 'px'};
    }

    .margin-left-#{$i * 8} {
        margin-left: #{($i * 8) + 'px'};
    }
}

// Height helpers
// Multiples of 5, Max: 500
@for $i from 1 through 10 {

    .height-#{$i * 50} {
        min-height: #{($i * 50) + 'px'};
        height: #{($i * 50) + 'px'};
    }
}