/*----------------------------------------------------------------*/
/*  Icons
/*----------------------------------------------------------------*/
[md-font-icon],
i {
    font-size: 24px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    outline: 0;

    @for $size from 1 through 12 {

        &.s#{$size * 8} {
            font-size: #{($size * 8) + 'px'} !important;
            width: #{($size * 8) + 'px'} !important;
            height: #{($size * 8) + 'px'} !important;
            line-height: #{($size * 8) + 'px'} !important;
        }
    }
}