/*----------------------------------------------------------------*/
/*  Template Layouts
/*----------------------------------------------------------------*/

// Global
html,
body {
    overflow: hidden !important;
}

#main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#content {
    position: relative;

    > md-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

// Boxed Layout
body {

    &.boxed {
        background: #B0BEC5 url('/assets/images/backgrounds/header-bg.png');
        background-size: cover;

        #main {
            overflow: hidden !important;
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
        }
    }
}

// Default Layout (Sidenav + Content)
#layout-default {
    height: 100%;
    max-height: 100%;
}

// Basic Layout (Only Content)
#layout-basic {
    height: 100%;
    max-height: 100%;
}