/*----------------------------------------------------------------*/
/*  Template Layouts
/*----------------------------------------------------------------*/

// Global
html,
body {
    overflow: hidden !important;
    height: 100%;
    min-height: 100%;
}

#main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

#content {
    position: relative;

    > md-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
    }
}

// Boxed Layout
body {

    &.boxed {
        background: #B0BEC5 url('/assets/images/backgrounds/header-bg.png');
        background-size: cover;

        #main {
            overflow: hidden !important;
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
        }
    }
}

// Full body scroll
html {

    &:not(.sidenav-open).body-scroll {
        overflow: auto !important;
        height: auto;
        min-height: 0;

        body {
            overflow: auto !important;
            height: auto;
            min-height: 0;

            #main {
                position: relative;
                height: auto;
            }

            #content {

                > md-content {
                    position: relative;
                    height: auto;
                }
            }

            &.md-dialog-is-showing {
                position: fixed;
                overflow: hidden !important;
                height: 100%;
            }
        }
    }
}