/*----------------------------------------------------------------*/
/*  Typography
/*----------------------------------------------------------------*/

html {
    font-size: $font-size-root;
    line-height: 1.4;
    letter-spacing: -0.1px;
}

body {
    font-size: $font-size-base;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}

h6 {
    font-size: $h6;
}

// Links
a {
    text-decoration: none;

    &:hover, &:active {
        text-decoration: none;
    }
}

code {
    @include font-stack-code();

    &:not(.highlight) {
        background: rgba(0, 0, 0, 0.065);
        color: #106CC8;
        margin: 0 1px;
        padding: 2px 3px;
        border-radius: 2px;
    }
}

pre {
    margin: 8px 16px;
}

// Text format helpers
.bold {
    color: $material-color-black;
    font-weight: 500;
}

// Text align helpers
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}