/*----------------------------------------------------------------*/
/*  Variables
/*----------------------------------------------------------------*/

// Typography
$font-family-body: 'RobotoDraft', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;

$font-size-root: 62.5%;
$font-size-base: 1.3rem;

$h1: 2.4rem;
$h2: 2.0rem;
$h3: 1.6rem;
$h4: 1.4rem;
$h5: 1.3rem;
$h6: 1.2rem;

// Breakpoints
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1200px;

// Material colors
// https://www.google.com/design/spec/style/color.html
// Primary (500)
$materialColorsMap: (red: #F44336, pink: #E91E63, purple: #9C27B0, deep-purple: #673AB7, indigo: #3F51B5, blue: #2196F3, light-blue: #03A9F4, cyan: #00BCD4, teal: #009688, green: #4CAF50, light-green: #8BC34A, lime: #CDDC39, yellow: #FFEB3B, amber: #FFC107, orange: #FF9800, deep-orange: #FF5722, brown: #795548, grey: #9E9E9E, blue-grey: #607D8B, black: #000000, white: #FFFFFF);

$material-color-red: map_get($materialColorsMap, red);
$material-color-pink: map_get($materialColorsMap, pink);
$material-color-purple: map_get($materialColorsMap, purple);
$material-color-deep-purple: map_get($materialColorsMap, deep-purple);
$material-color-indigo: map_get($materialColorsMap, indigo);
$material-color-blue: map_get($materialColorsMap, blue);
$material-color-light-blue: map_get($materialColorsMap, light-blue);
$material-color-cyan: map_get($materialColorsMap, cyan);
$material-color-teal: map_get($materialColorsMap, teal);
$material-color-green: map_get($materialColorsMap, green);
$material-color-light-green: map_get($materialColorsMap, light-green);
$material-color-lime: map_get($materialColorsMap, lime);
$material-color-yellow: map_get($materialColorsMap, yellow);
$material-color-amber: map_get($materialColorsMap, amber);
$material-color-orange: map_get($materialColorsMap, orange);
$material-color-deep-orange: map_get($materialColorsMap, deep-orange);
$material-color-brown: map_get($materialColorsMap, brown);
$material-color-grey: map_get($materialColorsMap, grey);
$material-color-blue-grey: map_get($materialColorsMap, blue-grey);
$material-color-black: map_get($materialColorsMap, black);
$material-color-white: map_get($materialColorsMap, white);

// Material whiteframe shadows
$shadow-multiplier: 0.7;
$shadow-key-umbra-opacity: $shadow-multiplier * 0.2;
$shadow-key-penumbra-opacity: $shadow-multiplier * 0.14;
$shadow-ambient-shadow-opacity: $shadow-multiplier * 0.12;

$whiteframe-shadow-z1: 0px 3px 1px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 2px 2px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 1px 5px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
$whiteframe-shadow-z2: 0 2px 4px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0 4px 5px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0 1px 10px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
$whiteframe-shadow-z3: 0px 3px 5px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 6px 10px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 1px 18px 0px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
$whiteframe-shadow-z4: 0px 5px 5px -3px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 8px 10px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 3px 14px 2px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
$whiteframe-shadow-z5: 0px 8px 10px -5px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 16px 24px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 6px 30px 5px rgba(0, 0, 0, $shadow-ambient-shadow-opacity);