#timeline {
    position: relative;

    &:before {
        display: block;
        position: absolute;
        z-index: 10;
        content: "";
        width: 2px;
        background: rgba(0, 0, 0, 0.08);
        top: 0;
        left: 50%;
        bottom: 0;
        margin-left: -1px;
    }

    .timeline-row {
        position: relative;
        z-index: 20;
        padding: 64px 16px 0 16px;
        max-width: 1200px;

        .timeline-item {
            padding: 0 84px;
            order: 1;
        }

        .timeline-item-type {
            position: absolute;
            width: 72px;
            left: 50%;
            margin-left: -36px;
            padding: 16px 0 0 0;
            order: 2;
        }

        .timeline-item-detail {
            flex: 50% 0 0;
            padding: 28px 8px 0 68px;
            order: 3;

            .time {
                font-size: 15px;
            }

            .event {
                color: rgba(0, 0, 0, 0.54);
                font-size: 13px;
            }
        }

        &:nth-child(2n+2) {

            .timeline-item {
                order: 3;
            }

            .timeline-item-detail {
                order: 1;
                padding: 28px 68px 0 8px;
                text-align: right;
            }
        }

        &:last-child {
            padding: 64px 16px;
        }
    }
}
