#timeline {
    position: relative;

    &:before {
        display: block;
        position: absolute;
        z-index: 10;
        content: "";
        width: 2px;
        background: rgba(0, 0, 0, 0.08);
        top: 0;
        left: 50%;
        bottom: 0;
        margin-left: -1px;
    }

    .timeline-row {
        position: relative;
        z-index: 20;
        padding: 32px;
        max-width: 1200px;

        .timeline-item {
            padding-right: 84px;
            order: 1;
        }

        .timeline-point {
            position: absolute;
            width: 72px;
            left: 50%;
            margin-left: -36px;
            padding: 16px 0 0 0;
            order: 2;
        }

        .timeline-detail {
            flex: 50% 0 0;
            padding-top: 28px;
            padding-left: 68px;
            order: 3;

            .time {
                font-size: 15px;
            }

            .event {
                color: rgba(0, 0, 0, 0.54);
                font-size: 13px;
            }
        }

        &:nth-child(2n) {

            .timeline-item {
                order: 3;
                padding-right: 0;
                padding-left: 84px;
            }

            .timeline-detail {
                order: 1;
                padding-left: 0;
                padding-right: 68px;
                text-align: right;
            }
        }

        &:first-child {
            padding-top: 64px;
        }

        &:last-child {
            padding-bottom: 64px;
        }
    }

    /* Animations */
    .timeline-row {

        .timeline-item {
            opacity: 0;
        }

        .timeline-point {
            opacity: 0;
        }

        .timeline-detail {
            opacity: 0;
        }

        &.animate {

            .timeline-item {
                transform: translateX(-100%);
                transition: all 0.375s ease-in-out;
            }

            .timeline-point {
                transform: translateY(100px);
                transition: all 0.25s ease-in-out;
            }

            .timeline-detail {
                transform: translateX(100%);
                transition: all 0.375s ease-in-out;
            }
        }

        &:nth-child(2n) {

            &.animate {

                .timeline-item {
                    transform: translateX(100%);

                }

                .timeline-detail {
                    transform: translateX(-100%);
                }
            }

        }

        &.active {

            .timeline-item {
                opacity: 100;
            }

            .timeline-point {
                opacity: 100;
            }

            .timeline-detail {
                opacity: 100;
            }

            &.animate {

                .timeline-item {
                    transform: translateX(0);
                }

                .timeline-point {
                    transform: translateY(0);
                }

                .timeline-detail {
                    transform: translateX(0);
                }
            }
        }
    }
}
