#timeline {
    position: relative;
    padding-bottom: 160px;

    &:before {
        display: block;
        position: absolute;
        z-index: 10;
        content: "";
        width: 2px;
        background: rgba(0, 0, 0, 0.08);
        top: 0;
        left: 50%;
        bottom: 0;
        margin-left: -1px;
    }

    .timeline-item {
        overflow: hidden;
        position: relative;
        z-index: 20;
        padding: 32px;
        width: 100%;
        max-width: 1200px;

        .timeline-card {
            padding-right: 84px;
            order: 1;
        }

        .timeline-point {
            position: absolute;
            width: 72px;
            left: 50%;
            margin-left: -36px;
            padding: 16px 0 0 0;
            order: 2;
        }

        .timeline-detail {
            flex: 50% 0 0;
            padding-top: 28px;
            padding-left: 68px;
            order: 3;

            .time {
                font-size: 15px;
            }

            .event {
                color: rgba(0, 0, 0, 0.54);
            }
        }

        &:nth-child(odd) {

            .timeline-card {
                flex-direction: row-reverse;
            }
        }

        &:nth-child(even) {

            .timeline-card {
                order: 3;
                padding-right: 0;
                padding-left: 84px;
            }

            .timeline-detail {
                order: 1;
                padding-left: 0;
                padding-right: 68px;
                text-align: right;
            }
        }

        &:first-child {
            padding-top: 64px;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    /* Animations */
    .timeline-item {

        &.animate {

            .timeline-card {
                animation: slide-in-left 0.4s;
            }

            .timeline-point {
                animation: slide-in-bottom 0.4s;
            }

            .timeline-detail {
                animation: slide-in-right 0.4s;
            }
        }

        &:nth-child(even) {

            &.animate {

                .timeline-card {
                    animation: slide-in-right 0.4s;
                }

                .timeline-point {

                }

                .timeline-detail {
                    animation: slide-in-left 0.4s;
                }
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $breakpoint-md) {

    #timeline {

        .timeline-item {

            .timeline-card {
                order: 3;
                padding: 0;
            }

            .timeline-point {
                order: 1;
                position: relative;
                left: auto;
                margin: 0 0 16px 0;
                padding: 0;
            }

            .timeline-detail {
                order: 2;
                padding: 0;
                margin-bottom: 16px;

                .time {
                    text-align: center;
                }

                .event {
                    text-align: center;
                }
            }

            &:nth-child(even) {

                .timeline-card {
                    order: 3;
                    padding: 0;
                }

                .timeline-point {
                    order: 1;
                    position: relative;
                    left: auto;
                    margin: 0 0 16px 0;
                    padding: 0;
                }

                .timeline-detail {
                    order: 2;
                    padding: 0;
                    margin-bottom: 16px;

                    .time {
                        text-align: center;
                    }

                    .event {
                        text-align: center;
                    }
                }
            }
        }
    }

}