<div id="timeline" ms-timeline layout="column" layout-align="start center" layout-fill>

    <!-- TIMELINE ITEM -->
    <div class="timeline-item animate" layout="row" layout-align="center start"
         ng-repeat="timelineItem in vm.timeline | limitTo: timelineItemLimit">
        <div class="timeline-card" flex="50">

            <!-- MS-CARD -->
            <ms-card template="timelineItem.template" ng-model="timelineItem"></ms-card>
            <!-- / MS-CARD -->

        </div>

        <div class="timeline-point">
            <md-button class="md-fab" aria-label="timeline item icon">
                <md-icon md-font-icon="icon-document"></md-icon>
            </md-button>
        </div>

        <div class="timeline-detail" flex="50">
            <div class="time">
                {{timelineItem.time}}
            </div>
            <div class="event">
                {{timelineItem.event}}
            </div>
        </div>
    </div>
    <!-- / TIMELINE ITEM -->

</div>