#coming-soon {
    background: url('/assets/images/backgrounds/march.jpg') no-repeat;
    background-size: cover;
    height: 100%;

    #coming-soon-form {
        margin: 32px;
        max-width: 384px;
        background: #FFFFFF;

        .top {
            width: 100%;
            padding: 32px;

            .logo {
                border-radius: 2px;
                width: 128px;
                height: 128px;
                font-size: 86px;
                margin: 32px;
                font-weight: 500;
            }

            .title {
                font-size: 17px;
                margin-top: 16px;
            }

            .subtitle {
                margin-top: 16px;
                text-align: center;
                max-width: 300px;
                color: rgba(0, 0, 0, 0.54);
                font-size: 15px;
            }

            timer {
                margin: 48px 0;
                width: 100%;
                > div {
                    margin: 0 16px;
                    text-align: center;

                    .value {
                        font-size: 34px;
                    }

                    .type {
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
            }
        }

        form {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.03);
            padding: 32px;

            .message {
                font-weight: 500;
                margin: 8px auto;
            }

            md-input-container {
                width: 320px;
                margin: 8px auto 16px auto;
            }

            .md-button {
                width: 220px;
                margin: 16px auto;
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {

    #coming-soon {

        #coming-soon-form {
            width: 90%;

            .top {
                padding: 24px;

                timer {

                    > div {

                        .value {
                            font-size: 24px;
                        }
                    }
                }
            }

            form {
                padding: 24px;

                md-input-container {
                    width: 100%;
                }

                .md-button {
                    width: 90%;
                }
            }
        }
    }

}