<md-list class="recent">
    <md-subheader class="md-no-sticky"><span translate="QUICKPANEL.RECENT">Recent</span></md-subheader>
    <md-list-item class="contact md-3-line" ng-repeat="contact in vm.contacts.recent">
        <img ng-src="{{contact.avatar}}" class="md-avatar" alt="{{contact.name}}"/>

        <div class="status  {{contact.status}}"></div>

        <div ng-if="contact.unread" class="md-accent-bg unread-message-count">{{contact.unread}}</div>

        <div class="md-list-item-text">
            <h3>{{contact.name}}</h3>

            <p class="last-message">{{contact.lastMessage}}</p>
        </div>
    </md-list-item>
</md-list>

<md-divider></md-divider>

<md-list class="all">
    <md-subheader class="md-no-sticky"><span translate="QUICKPANEL.START_NEW_CHAT">Start New Chat</span></md-subheader>
    <md-list-item class="contact" ng-repeat="contact in vm.contacts.all">
        <img ng-src="{{contact.avatar}}" class="md-avatar" alt="{{contact.name}}"/>

        <div class="status {{contact.status}}"></div>
        <div class="md-list-item-text">
            <h3>{{contact.name}}</h3>
        </div>
    </md-list-item>
</md-list>

<md-divider></md-divider>
