<!-- TODO LIST ITEMS -->
<div ui-tree>
    <ol ui-tree-nodes="" ng-model="vm.tasks">
        <li ng-include="'nodes_renderer.html'"
            ui-tree-node class="todo-item"
            ng-repeat="task in vm.tasks"
            ng-class="{'starred': task.starred, 'selected': task.selected, 'checked': task.checked}">
        </li>
    </ol>
</div>

<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
    <div class="todo-content" md-ink-ripple layout="row" layout-align="start center"
         ng-if="vm.filterTask(task)"
         ng-click="vm.openTaskDialog($event, task)">
        <i ui-tree-handle class="tree-handle icon icon-drag-vertical"></i>

        <md-checkbox class="checkbox" ng-checked="task.checked"
                     ng-click="vm.toggleCheck(task, $event)" aria-label="{{task.checked? 'Uncheck':'check'}}">
        </md-checkbox>

        <div layout-gt-sm="row" layout-align-gt-sm="start center" flex>

            <div class="info" flex>
                <div class="title">
                    {{task.title}}
                </div>

                <div class="notes">
                    {{task.notes | limitTo:90}}{{task.notes.length > 90 ? '...' : ''}}
                </div>

                <div class="tags" layout="row" layout-align="start center">
                    <div class="tag" layout="row" layout-align="start center" data-ng-repeat="tag in task.tags">
                        <div class="tag-color" ng-style="{'background-color': tag.color}"></div>
                        <div class="tag-label">{{tag.label}}</div>
                    </div>
                </div>
            </div>

            <div class="buttons" layout="row" layout-align="space-between center">

                <div>
                    <md-menu>
                        <md-button class="md-icon-button" aria-label="More" translate
                                   translate-attr-aria-label="TODO.MORE">
                            <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdOpenMenu($event)"></md-icon>
                        </md-button>

                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button aria-label="Mark as done" translate="TODO.MARK_AS_DONE"
                                           translate-attr-aria-label="TODO.MARK_AS_DONE">Mark as done
                                </md-button>
                            </md-menu-item>

                            <md-menu-item>
                                <md-button aria-label="Mark as important" translate="TODO.MARK_AS_IMPORTANT"
                                           translate-attr-aria-label="TODO.MARK_AS_IMPORTANT">Mark as important
                                </md-button>
                            </md-menu-item>

                            <md-menu-item>
                                <md-button aria-label="Add star" translate="TODO.ADD_STAR"
                                           translate-attr-aria-label="TODO.ADD_STAR">Add star
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>
    </div>

    <ol ui-tree-nodes="" ng-model="task.nodes">
        <li class="todo-item" ng-class="{'starred': task.starred, 'selected': task.selected, 'checked': task.checked}"
            ng-repeat="task in task.nodes | filter: vm.search | filter: global.search | filterByTags:vm.tagsFilter"
            ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>

</script>

<!-- / TODO LIST ITEMS -->