<div class="page-layout carded carded-fullwidth" layout="row">

    <!-- Top background -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / Top background -->

    <!-- Center pane -->
    <div class="center-pane" layout="column" flex>

        <!-- Center pane header -->
        <div class="header">
            <span>Content header</span>
        </div>
        <!-- / Center pane header -->

        <!-- Content card -->
        <div class="content-card" layout="column" flex>

            <!-- Content toolbar -->
            <div class="toolbar" layout="row" layout-align="start center">
                <span>Content toolbar</span>
            </div>
            <!-- / Content toolbar -->

            <!-- Content -->
            <md-content class="content" flex>
                <span>Scrollable main content</span>
            </md-content>
            <!-- / Content -->

        </div>
        <!-- / Content card-->

    </div>
    <!-- / Center pane -->

</div>