.ms-card {

    &.template-6 {
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        max-width: 400px;

        .content {

            .subtitle {

            }

            .title {

            }

            .text {

            }
        }
    }
}