#file-manager {
    .main-sidenav {
        width: 256px;
        min-width: 256px;
        md-toolbar {
            padding: 24px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.13);
            .account {
                font-size: 13px;
                width: 100%;
                .account-selection {
                    margin: 0;
                    padding: 0;
                    .md-select-label {
                        width: 100%;
                    }
                    .md-select-value {
                        padding-left: 0;
                    }
                }
            }
        }
        md-content {
            padding: 16px 0;
            .menu {
                .item {
                    align-items: inherit;
                    text-align: left;
                    text-transform: inherit;
                    margin: 0;
                    padding: 0 24px;
                    outline: 0;
                    width: 100%;
                    .context {
                        line-height: 50px;
                        max-height: 50px;
                        height: 50px;
                        md-icon {
                            margin: 0 22px 0 0;
                        }
                        .title {
                            font-size: 13px;
                            line-height: 13px;
                        }
                    }
                }
                .subhead {
                    font-size: 13px;
                    padding: 16px 24px;
                    font-weight: 500;
                }
            }
        }
    }
}