<md-dialog class="row-dialog" aria-label="New Task">
    <form>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>

        </md-dialog-content>

        <div class="md-actions mail-form-actions" layout="row" layout-align="space-between center" ms-scroll>
            <div layout="row" layout-align="start center">
                <md-button ng-click="vm.save()" class="send-button md-accent md-raised"
                           aria-label="SAVE" translate="TODO.SAVE" translate-attr-aria-label="TODO.SAVE">
                    SAVE
                </md-button>

                <md-button class="md-icon-button" aria-label="Attach file" translate
                           translate-attr-aria-label="TODO.ATTACH_FILE">
                    <md-icon md-font-icon="icon-paperclip"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="Insert picture" translate
                           translate-attr-aria-label="TODO.INSERT_PICTURE">
                    <md-icon md-font-icon="icon-file-image-box"></md-icon>
                </md-button>
            </div>

            <div layout="row">
                <md-button class="md-icon-button" aria-label="Delete" translate translate-attr-aria-label="TODO.DELETE">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span translate="TODO.DELETE">DELETE</span></md-tooltip>
                </md-button>
            </div>
        </div>
    </form>
</md-dialog>
