<div id="dashboard">

    <!-- WIDGETS -->
    <div id="widgets">

        <!-- WIDGET GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- WIDGET 1 -->
            <ms-widget class="stat-widget" flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="md-light-blue-bg" layout="column" flex>
                    <div class="padding-bottom-8" layout="row" layout-align="space-between center">
                        <div class="h4 font-weight-500 secondary-text">{{vm.widget1.title}}</div>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical" class="s20"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                        Details
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div class="white-text" layout="column" layout-align="space-between" flex>
                        <div class="md-display-1" layout="row" layout-align="start center">
                            <span>{{vm.widget1.value | number}}</span>
                            <md-icon md-font-icon="icon-trending-up" class="s36 margin-left-16"></md-icon>
                        </div>

                        <div layout="row" layout-align="start center">
                            <span>Last week: {{vm.widget1.lastWeekValue | number}}</span>
                            <span class="text-boxed-light">{{vm.widget1.lastWeekDiff}}</span>
                        </div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="md-white-bg" layout="column" flex>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div>
                        {{vm.widget1.detail}}
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGET 1 -->

            <!-- WIDGET 2 -->
            <ms-widget class="stat-widget" flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="md-white-bg" layout="column" flex>
                    <div class="padding-bottom-8" layout="row" layout-align="space-between center">
                        <div class="h4 font-weight-500 secondary-text">{{vm.widget2.title}}</div>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical" class="s20"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                        Details
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div layout="column" layout-align="space-between" flex>
                        <div>
                            <div class="md-display-1 padding-bottom-16">{{vm.widget2.value}}%</div>

                            <div class="padding-bottom-16">
                                <md-progress-linear md-mode="determinate"
                                                    value="{{vm.widget2.value}}"></md-progress-linear>
                            </div>
                        </div>

                        <div layout="row" layout-align="start center">
                            <span>Last week: {{vm.widget2.lastWeekValue}}%</span>
                            <span class="text-boxed">{{vm.widget2.lastWeekDiff}}</span>
                        </div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="md-white-bg" flex>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div>
                        {{vm.widget2.detail}}
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGET 2 -->

            <!-- WIDGET 3 -->
            <ms-widget class="stat-widget" flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="md-white-bg" layout="column" flex>
                    <div class="padding-bottom-8" layout="row" layout-align="space-between center">
                        <div class="h4 font-weight-500 secondary-text">{{vm.widget3.title}}</div>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical" class="s20"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                        Details
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div layout="column" layout-align="space-between" flex>
                        <div>
                            <div class="md-display-1 padding-bottom-16">{{vm.widget3.value}}%</div>

                            <div class="padding-bottom-8">
                                <md-progress-linear md-mode="determinate"
                                                    value="{{vm.widget3.value}}"></md-progress-linear>
                            </div>
                        </div>

                        <div>{{vm.widget3.footnote}}</div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="md-white-bg" flex>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div>
                        {{vm.widget3.detail}}
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGET 3 -->

            <!-- WIDGET 4 -->
            <ms-widget class="stat-widget" flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="md-white-bg" layout="column" flex>
                    <div class="padding-bottom-8" layout="row" layout-align="space-between center">
                        <div class="h4 font-weight-500 secondary-text">{{vm.widget4.title}}</div>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical" class="s20"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                        Details
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div layout="column" layout-align="space-between" flex>
                        <div class="md-display-1 padding-bottom-8" layout="row" layout-align="start center">
                            <span>{{vm.widget4.value | number}}</span>
                            <md-icon md-font-icon="icon-trending-down" class="s36 margin-left-16"></md-icon>
                        </div>

                        <div>{{vm.widget4.footnote}}</div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="md-white-bg" flex>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div>
                        {{vm.widget4.detail}}
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGET 4 -->

        </div>
        <!-- / WIDGET GROUP -->


        <!-- WIDGET GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- WIDGET 5 -->
            <ms-widget class="chart-widget" layout="column" flex="100" flex-gt-lg="50">

                <!-- Front -->
                <ms-widget-front class="md-white-bg" layout="column" layout-align="space-between" flex>
                    <div class="padding-bottom-16">
                        <div class="h2 weight-500 padding-bottom-8">{{vm.widget5.title}}</div>
                        <div class="secondary-text">{{vm.widget5.subtitle}}</div>
                    </div>

                    <div>
                        <!--<c3chart bindto-id="io-rate">
                            <chart-column ng-repeat="column in vm.widget5.chart.columns"
                                          column-id="{{column.id}}"
                                          column-name="{{column.name}}"
                                          column-color="{{column.color}}"
                                          column-values="{{column.values}}"
                                          column-type="{{column.type}}"
                                    />
                            <chart-size chart-height="240"/>
                        </c3chart>-->
                        <canvas id="line"
                                class="chart chart-line"
                                chart-data="vm.widget5.chart.data"
                                chart-labels="vm.widget5.chart.labels"
                                chart-series="vm.widget5.chart.series">
                        </canvas>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 5 -->

        </div>
        <!-- / WIDGET GROUP -->

    </div>

</div>