<!-- MAIL CONTENT -->
<div class="mail-header" layout="column" layout-align="space-between end" layout-gt-sm="row"
     layout-align-gt-sm="space-between center">
    <div class="subject" flex>{{vm.selectedMail.subject}}</div>

    <div layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Archive" translate translate-aria-label="MAIL.ARCHIVE">
            <md-icon md-font-icon="icon-archive"></md-icon>
            <md-tooltip><span translate="MAIL.ARCHIVE"></span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" aria-label="Report Spam" translate translate-aria-label="MAIL.REPORT_SPAM">
            <md-icon md-font-icon="icon-alert-octagon"></md-icon>
            <md-tooltip><span translate="MAIL.REPORT_SPAM"></span></md-tooltip>
        </md-button>

        <md-button class="md-icon-button" aria-label="Delete" translate translate-aria-label="MAIL.DELETE">
            <md-icon md-font-icon="icon-delete"></md-icon>
            <md-tooltip><span translate="MAIL.DELETE"></span></md-tooltip>
        </md-button>

        <md-menu>
            <md-button aria-label="More" class="md-icon-button"
                       ng-click="$mdOpenMenu($event)"
                       translate translate-aria-label="MAIL.MORE">
                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                <md-tooltip><span translate="MAIL.MORE"></span></md-tooltip>
            </md-button>

            <md-menu-content width="3">
                <md-menu-item>
                    <md-button aria-label="Mark as unread"
                               translate="MAIL.MARK_AS_UNREAD" translate-aria-label="MAIL.MARK_AS_UNREAD">Mark as unread
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button aria-label="Mark as important" translate="MAIL.MARK_AS_IMPORTANT"
                               translate-aria-label="MAIL.MARK_AS_IMPORTANT">
                        Mark as important
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button aria-label="Add label" translate="MAIL.ADD_LABEL" translate-aria-label="MAIL.ADD_LABEL">
                        Add label
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>

<div class="mail-content">
    <div class="info" layout="column" layout-align="space-between center" layout-gt-sm="row">
        <div layout="column" layout-gt-sm="row" layout-align="start center">

            <div layout="column" layout-gt-sm="row" layout-align="start center">

                <img ng-if="vm.selectedMail.from.avatar" alt="{{vm.selectedMail.from.name}}"
                     ng-src="{{vm.selectedMail.from.avatar}}" class="avatar"/>

                <div ng-if="!vm.selectedMail.from.avatar" class="avatar" ms-random-class="vm.colors">
                    {{vm.selectedMail.from.name[0]}}
                </div>

                <div class="name">
                    {{vm.selectedMail.from.name}}
                </div>
            </div>

            <div class="to" translate="MAIL.TO">
                to
            </div>

            <div class="name">
                {{vm.selectedMail.to[0].name}}
            </div>
        </div>

        <div class="time">
            {{vm.selectedMail.time}}
        </div>

    </div>

    <div ng-bind-html="vm.selectedMail.message"></div>

</div>

<div ng-if="vm.selectedMail.attachments" class="attachments">
    <div class="title"><span translte="MAIL.ATTACHMENTS">Attachments</span> ({{vm.selectedMail.attachments.length}})
    </div>
    <div class="attachment-list" layout-wrap layout="row">
        <div class="attachment" layout="column"
             ng-repeat="attachment in vm.selectedMail.attachments">
            <img class="preview" ng-src="{{attachment.preview}}">

            <div layout="column">
                <a href="#" class="md-accent-color link" translate="MAIL.VIEW">View</a>
                <a href="#" class="md-accent-color link" translate="MAIL.DOWNLOAD">Download</a>

                <div class="size">({{attachment.size}})</div>
            </div>
        </div>
    </div>
</div>

<div class="reply" layout="row">
    <img src="assets/images/avatars/profile-img.jpeg" class="avatar"/>

    <div class="form" flex>
        <textarea></textarea>

        <div class="actions" layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button class="send-button md-accent md-raised" aria-label="Send" translate="MAIL.SEND"
                           translate-attr-aria-label="MAIL.SEND">
                    SEND
                </md-button>

                <md-button class="md-icon-button" aria-label="Text format"
                           translate-attr-aria-label="MAIL.TEXT_FORMAT">
                    <md-icon md-font-icon="icon-format-size"></md-icon>
                    <md-tooltip><span translate="MAIL.TEXT_FORMAT"></span></md-tooltip>
                </md-button>

                <div class="divider-vertical"></div>

                <md-button class="md-icon-button" aria-label="Attach file"
                           translate-attr-aria-label="MAIL.ATTACH_FILE">
                    <md-icon md-font-icon="icon-paperclip"></md-icon>
                    <md-tooltip><span translate="MAIL.ATTACH_FILE"></span></md-tooltip>
                </md-button>

                <md-button class="md-icon-button" aria-label="Insert picture"
                           translate-attr-aria-label="MAIL.INSERT_PICTURE">
                    <md-icon md-font-icon="icon-file-image-box"></md-icon>
                    <md-tooltip><span translate="MAIL.INSERT_PICTURE"></span></md-tooltip>
                </md-button>

                <md-button class="md-icon-button" aria-label="Insert emoticon"
                           translate-attr-aria-label="MAIL.INSERT_EMOTICON">
                    <md-icon md-font-icon="icon-emoticon"></md-icon>
                    <md-tooltip><span translate="MAIL.INSERT_EMOTICON"></span></md-tooltip>
                </md-button>
            </div>

            <md-button class="md-icon-button" aria-label="Delete"
                       translate-attr-aria-label="MAIL.DELETE">
                <md-icon md-font-icon="icon-delete"></md-icon>
                <md-tooltip><span translate="MAIL.DELETE"></span></md-tooltip>
            </md-button>
        </div>
    </div>
</div>
<!-- / MAIL CONTENT -->