<!-- Mail content -->
<div class="mail-header" layout="row" layout-align="space-between center">
    <div class="subject" flex>{{vm.selectedMail.subject}}</div>

    <div layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="archive">
            <md-icon md-font-icon="icon-archive"></md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="report">
            <md-icon md-font-icon="icon-report"></md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="delete">
            <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>

        <md-menu>
            <md-button aria-label="more" class="md-icon-button"
                       ng-click="$mdOpenMenu($event)">
                <md-icon md-font-icon="icon-more_vert"></md-icon>
            </md-button>

            <md-menu-content width="3">
                <md-menu-item>
                    <md-button aria-label="all">Mark as unread</md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button aria-label="none">Mark as important</md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button aria-label="read">Add label</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>

<div class="mail-content">
    <div class="info" layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">

            <img ng-if="vm.selectedMail.from.avatar" alt="{{ vm.selectedMail.from.name }}"
                 ng-src="{{ vm.selectedMail.from.avatar}}" class="avatar"/>

            <div ng-if="!vm.selectedMail.from.avatar" class="avatar" ng-random-class="vm.colors">
                {{ vm.selectedMail.from.name[0] }}
            </div>

            <div>
                <span class="name">
                    {{ vm.selectedMail.from.name }}
                </span>

                <span>
                    &lt;{{vm.selectedMail.from.email}}&gt;
                </span>

                to

                <span class="name">
                    {{ vm.selectedMail.to[0].name}}
                </span>
            </div>

            <md-button aria-label="edit form" class="md-icon-button">
                <md-icon md-font-icon="icon-arrow_drop_down"></md-icon>
            </md-button>
        </div>

        <div class="time">
            {{vm.selectedMail.time}}
        </div>
    </div>

    <div ng-bind-html="vm.selectedMail.message"></div>
</div>

<div ng-if="vm.selectedMail.attachments" class="attachments">
    <div class="title">Attachments ({{vm.selectedMail.attachments.length}})</div>
    <div class="attachment-list" layout-wrap layout="row">
        <div class="attachment" layout="column"
             ng-repeat="attachment in vm.selectedMail.attachments">
            <img class="preview" ng-src="{{attachment.preview}}">

            <div layout="column">
                <a href="#" class="md-accent-color link">View</a>
                <a href="#" class="md-accent-color link">Download</a>

                <div class="size">({{attachment.size}})</div>
            </div>
        </div>
    </div>
</div>

<div class="reply" layout="row">
    <img src="assets/images/avatars/profile-img.jpeg" class="avatar"/>

    <div class="form" flex>
        <textarea></textarea>

        <div class="actions" layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button ng-aria="send" class="send-button md-accent md-raised">
                    SEND
                </md-button>

                <md-button class="md-icon-button" aria-label="archive">
                    <md-icon md-font-icon="icon-text_format"></md-icon>
                </md-button>

                <div class="divider-vertical"></div>

                <md-button class="md-icon-button" aria-label="archive">
                    <md-icon md-font-icon="icon-attach_file"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="archive">
                    <md-icon md-font-icon="icon-insert_photo"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="archive">
                    <md-icon md-font-icon="icon-insert_emoticon"></md-icon>
                </md-button>
            </div>

            <md-button class="md-icon-button" aria-label="delete">
                <md-icon md-font-icon="icon-delete"></md-icon>
            </md-button>
        </div>
    </div>
</div>
<!-- / Mail content -->