<!-- MAIL CONTENT -->
<div class="mail-header" layout="column" layout-align="space-between end" layout-gt-sm="row"
     layout-align-gt-sm="space-between center">
    <div class="subject" flex>{{vm.selectedMail.subject}}</div>

    <div layout="row" layout-align="end center">
        <md-menu>
            <md-button aria-label="More" class="md-icon-button"
                       ng-click="$mdOpenMenu($event)"
                       translate translate-aria-label="MAIL.MORE">
                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                <md-tooltip><span translate="MAIL.MORE"></span></md-tooltip>
            </md-button>

            <md-menu-content width="3">
                <md-menu-item>
                    <md-button aria-label="Reply"
                               translate="MAIL.REPLY" translate-aria-label="MAIL.REPLY" ng-click="vm.replyDialog($event)">Reply
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button aria-label="Archive"
                               translate="MAIL.ARCHIVE" translate-aria-label="MAIL.ARCHIVE">Archive
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button aria-label="Spam"
                               translate="MAIL.SPAM" translate-aria-label="MAIL.SPAM">Spam
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button aria-label="Delete"
                               translate="MAIL.DELETE" translate-aria-label="MAIL.DELETE">Delete
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button aria-label="Mark as unread"
                               translate="MAIL.MARK_AS_UNREAD" translate-aria-label="MAIL.MARK_AS_UNREAD">Mark as unread
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button aria-label="Mark as important" translate="MAIL.MARK_AS_IMPORTANT"
                               translate-aria-label="MAIL.MARK_AS_IMPORTANT">
                        Mark as important
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button aria-label="Add label" translate="MAIL.ADD_LABEL" translate-aria-label="MAIL.ADD_LABEL">
                        Add label
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>

<div class="mail-content">
    <div class="info" layout="column" layout-align="space-between center" layout-gt-sm="row">
        <div layout="column" layout-gt-sm="row" layout-align="start center">

            <div>
                <img ng-if="vm.selectedMail.from.avatar" alt="{{vm.selectedMail.from.name}}"
                     ng-src="{{vm.selectedMail.from.avatar}}" class="avatar"/>

                <div ng-if="!vm.selectedMail.from.avatar" class="avatar" ms-random-class="vm.colors">
                    {{vm.selectedMail.from.name[0]}}
                </div>
            </div>

            <div layout="column" layout-align="start">

                <div layout="row" layout-wrap>
                    <div class="name">
                        {{vm.selectedMail.from.name}}
                    </div>

                    <div class="mail">
                        <{{vm.selectedMail.from.email}}>
                    </div>
                </div>

                <div layout="row" layout-align="start center">
                    <div class="to" translate="MAIL.TO">
                        to
                    </div>

                    <div class="name">
                        {{vm.selectedMail.to[0].name}}
                    </div>
                </div>
            </div>

        </div>

        <div class="time text-nowrap">
            {{vm.selectedMail.time}}
        </div>

    </div>

    <div ng-bind-html="vm.selectedMail.message"></div>

</div>

<div ng-if="vm.selectedMail.attachments" class="attachments">
    <div class="title"><span translte="MAIL.ATTACHMENTS">Attachments</span> ({{vm.selectedMail.attachments.length}})
    </div>
    <div class="attachment-list" layout-wrap layout="row">
        <div class="attachment" layout="column"
             ng-repeat="attachment in vm.selectedMail.attachments">
            <img class="preview" ng-src="{{attachment.preview}}">

            <div layout="column">
                <a href="#" class="md-accent-color link" translate="MAIL.VIEW">View</a>
                <a href="#" class="md-accent-color link" translate="MAIL.DOWNLOAD">Download</a>

                <div class="size">({{attachment.size}})</div>
            </div>
        </div>
    </div>
</div>
<!-- / MAIL CONTENT -->