<div class="photos-videos">
    <div class="period" data-ng-repeat="period in vm.photosVideos">
        <div class="title">
            <span class="date">{{period.date}}</span>
            <span class="context">{{period.context}}</span>
        </div>
        <div class="medias" layout="row" layout-wrap>
            <div class="media" ng-repeat="media in period.media">
                <img class="preview" ng-src="{{media.preview}}">

                <div class="title">{{media.title}}</div>
            </div>
        </div>
    </div>
</div>