#file-manager {
    md-toolbar {
        &.md-tall {
            height: 185px;
            min-height: 185px;
        }
    }
    .main-content {
//        z-index: 50;
        > md-toolbar {
            background-image: url('/assets/images/backgrounds/mail-bg.png');
            background-size: cover;

            .add-file-button {
                position: absolute;
                bottom: -32px;
                left: 16px;
                md-icon {
                    color: white;
                }
            }
            .breadcrumb {
                padding: 32px 0;
                margin-left: 104px;
                //                font-size: 24px;
                .separator {
                    margin: 0 8px;
                }
            }
        }

    }
    .icon- {
        text-align: center;
        &.folder {
            &:before {
                content: "\e101";
                color: #ffb300;
            }
        }
        &.document {
            &:before {
                content: "\e288";
                color: #1565c0;
            }
        }
        &.spreadsheet {
            &:before {
                content: "\e180";
                color: #4caf50;
            }
        }
    }
}