<md-menu md-offset="-48 8" md-position-mode="target-right target" class="theme-options-menu md-whiteframe-2dp">
    <md-button class="md-icon-button theme-options-menu-button" ng-click="$mdOpenMenu()" md-menu-origin
               md-menu-align-target
               aria-label="theme options menu button">
        <md-icon md-font-icon="icon-cog" class="icon"></md-icon>
    </md-button>

    <md-menu-content width="3" class="md-background-bg" id="theme-options-menu-content">
        <span class="option-title">Layout Mode:</span>

        <md-radio-group layout="row" layout-align="start center" ng-model="vm.layoutMode"
                        ng-change="vm.updateLayoutMode()">
            <md-radio-button value="boxed">Boxed</md-radio-button>
            <md-radio-button value="wide">Wide</md-radio-button>
        </md-radio-group>

        <md-menu-divider></md-menu-divider>

        <span class="option-title">Color Palette:</span>

        <md-menu-item ng-repeat="(themeName, theme) in vm.themes.list" class="theme">
            <md-button class="md-raised theme-button"
                       aria-label="{{themeName}}" ng-click="vm.setActiveTheme(themeName)"
                       ng-style="{'background-color': theme.primary.color,'border-color': theme.accent.color,'color': theme.primary.contrast1}"
                       ng-class="themeName">
                <span>
                    <md-icon ng-style="{'color': theme.primary.contrast1}" md-font-icon="icon-palette"></md-icon>
                    <span>{{themeName}}</span>
                </span>
            </md-button>
        </md-menu-item>

    </md-menu-content>
</md-menu>