<div id="material-colors" class="page-layout simple tabbed doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between" layout-sm="column">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">USER INTERFACE</span>
            </div>

            <div class="title">Material Colors</div>
        </div>

        <div layout="row" layout-align="start center">
            <md-button class="md-raised reference-button"
                       href="https://www.google.com/design/spec/style/color.html#color-color-palette"
                       target="_blank">
                <md-icon md-font-icon="icon-link"></md-icon>
                <span>Reference</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs class="color-tabs" md-dynamic-height md-swipe-content>
            <md-tab ng-repeat="(paletteName, palette) in vm.palettes"
                    md-on-select="vm.selected = paletteName; vm.selectedPalette = palette">
                <md-tab-label>
                    <span class="text-capitalize">{{paletteName}}</span>
                </md-tab-label>
            </md-tab>
        </md-tabs>

        <md-content class="color-tab">
            <div class="color-header colored-bg md-whiteframe-1dp fg-white" layout="row" layout-align="start center"
                 ng-class="'bg-'+vm.selected" layout-padding>
                <div flex layout-fill layout="column">
                    <div flex layout="column" layout-align="start start">
                        <h3>{{vm.selected}}</h3>
                    </div>
                    <div layout="row" layout-align="space-beetween center">
                        <div flex>500</div>
                        <div>
                            rgb({{vm.selectedPalette['500'].value[0]}},{{vm.selectedPalette['500'].value[1]}},{{vm.selectedPalette['500'].value[2]}})
                        </div>
                    </div>
                </div>
            </div>
            <div class="color md-whiteframe-1dp" layout="row" layout-wrap layout-align="center center">
                <div class="colored-bg" ng-repeat="(hue, hueValue) in vm.selectedPalette" flex="100" layout="row"
                     layout-sm="column" layout-padding
                     ng-class="'bg-'+vm.selected+'-'+hue">
                    <div flex>{{hue}}</div>
                    <div flex>.{{'bg-'+vm.selected+'-'+hue}}</div>
                    <div class="fg-box bg-white md-whiteframe-2dp" ng-class="'fg-'+vm.selected+'-'+hue">
                        .{{'fg-'+vm.selected+'-'+hue}}
                    </div>
                </div>
            </div>
        </md-content>
    </div>
    <!-- / CONTENT -->

</div>