<div class="page-layout simple right-sidenav-alt" layout="row" layout-fill>

    <!-- Center -->
    <div class="center" layout="column" flex>

        <!-- Header -->
        <div class="header md-accent-bg" layout="row" layout-align="space-between">
            <span>Header</span>

            <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md
                       aria-label="Toggle sidenav">
                <i class="icon icon-menu"></i>
            </md-button>
        </div>
        <!-- / Header -->

        <!-- Content -->
        <div class="content" flex>
            <span>Content</span>
        </div>
        <!-- / Content -->

    </div>
    <!-- / Center -->

    <!-- Sidenav -->
    <md-sidenav class="sidenav md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')" md-component-id="sidenav">
        <span>Sidenav content</span>
    </md-sidenav>
    <!-- / Sidenav -->

</div>