#typography {

    .content {

        .card {

            .headings {

                > li {
                    margin-bottom: 32px;

                    .definition {

                        code {
                            clear: both;
                        }
                    }

                    h1, h2, h3, h4, h5, h6 {
                        margin: 0;
                    }
                }
            }
        }
    }
}