.ms-card {

    &.template-7 {
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        max-width: 400px;

        .info {

            .title {

            }

            .subtitle {

            }

            .text {

            }
        }

        .media {

            .image {

            }
        }
    }
}