<div layout="row" layout-align="space-between">
    <div class="info" layout="column" layout-align="space-between" layout-fill flex>
        <div class="padding-16">
            <div class="title h2" ng-if="card.title">
                {{card.title}}
            </div>

            <div class="subtitle h5 secondary-text" ng-if="card.subtitle">
                {{card.subtitle}}
            </div>

            <div class="text h5 padding-top-8" ng-if="card.text">
                {{card.text}}
            </div>
        </div>

        <div>
            <md-divider></md-divider>
            <div class="padding-8" layout="row">
                <md-icon md-font-icon="icon-star_outline" class="margin-horizontal-5"></md-icon>
                <md-icon md-font-icon="icon-star_outline" class="margin-horizontal-5"></md-icon>
                <md-icon md-font-icon="icon-star_outline" class="margin-horizontal-5"></md-icon>
                <md-icon md-font-icon="icon-star_outline" class="margin-horizontal-5"></md-icon>
                <md-icon md-font-icon="icon-star_outline" class="margin-horizontal-5"></md-icon>
            </div>
        </div>
    </div>

    <div class="media">
        <img class="image" ng-src="{{card.media.image.src}}" alt="{{card.media.image.alt}}" ng-show="card.media.image">
    </div>
</div>