#todo {

    // Header
    > header {

        .header-left {

            .logo {
                width: 100%;
                height: 56px;

                .logo-icon {
                    margin: 0 16px 0 0;
                }

                .logo-text {
                    font-size: 21px;
                }
            }

            .project-selection {
                font-size: 13px;
                margin: 0;
            }
        }

        .header-right {

            .search {
                height: 56px;
                line-height: 56px;
                font-size: 13px;
                padding: 18px;

                .icon {
                    margin: 0;
                }

                input {
                    padding-left: 16px;
                    height: 56px;
                    color: rgba(0, 0, 0, 0.54);
                }
            }
        }

        .header-toolbar {
            padding: 0 16px;

            .actions {
                font-size: 13px;

                .page-info {
                    font-weight: 500;
                    margin: 0 8px;
                }
            }
        }
    }

    // Content
    > .content {

        .content-left-pane {
            padding: 32px 0;

            .add-task-button {
                padding: 0 32px 24px 32px;
                font-size: 13px;

                .md-button {
                    width: 100%;
                    margin: 0;
                }
            }
        }

        .content-main {
            padding: 0;

            .task-list {
                background: #FAFAFA;

                .task {
                    padding: 16px;
                    position: relative;
                    text-transform: none;
                    cursor: pointer;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                    .tags {
                        font-size: 11px;
                        margin-right: 12px;

                        .tag {
                            border-radius: 2px;
                            margin: 0 4px 0 0;
                            padding: 4px 6px;
                            color: rgba(255, 255, 255, 1);
                            font-weight: 500;
                        }
                    }

                    &.checked {
                        background: #EEEEEE;
                        color: rgba(0, 0, 0, 0.54);

                        .info {
                            text-decoration: line-through;
                        }
                    }

                    &.selected {
                        background: #FFF8E1;
                    }

                    .info {
                        margin: 0 8px 0 16px;

                        .title,
                        .notes {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .title {
                            font-size: 15px;
                            font-weight: 500;
                        }

                        .notes {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}