<div id="todo" class="page-layout carded left-sidenav" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- LEFT SIDENAV -->
    <md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav"
                ng-include="'app/main/apps/todo/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>
    </md-sidenav>
    <!-- / LEFT SIDENAV -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="start center">

            <div class="search-wrapper md-whiteframe-z2" flex layout="row" layout-align="start center">
                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')" hide-gt-md
                           aria-label="Toggle sidenav" translate translate-attr-aria-label="TODO.TOGGLE_SIDENAV">
                    <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                </md-button>

                <div class="search md-background-bg" flex layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                    <input flex ng-model="vm.search" type="text" placeholder="Search for a task or tag" translate
                           translate-attr-placeholder="TODO.SEARCH">
                </div>
            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center"  ms-scroll>

                <div layout="row" layout-align="start center">
                    <md-select class="simplified" ng-model="vm.selectedFilter.filter" placeholder="Filter" translate
                               translate-attr-placeholder="TODO.FILTER">
                        <md-option value="Start Date" translate="TODO.START_DATE">Start Date</md-option>
                        <md-option value="Due Date" translate="TODO.DUE_DATE">Due Date</md-option>
                        <md-option value="Manual" translate="TODO.MANUAL">Manual</md-option>
                        <md-option value="Tag" translate="TODO.TAG">Tag</md-option>
                        <md-option value="Title" translate="TODO.TITLE">Title</md-option>
                    </md-select>

                    <div class="divider-vertical"></div>

                    <md-select class="simplified" ng-model="vm.selectedFilter.order" placeholder="Order" translate
                               translate-attr-placeholder="TODO.ORDER">
                        <md-option value="Ascending" translate="TODO.ASCENDING">Ascending</md-option>
                        <md-option value="Descending" translate="TODO.DESCENDING">Descending</md-option>
                    </md-select>

                    <div class="divider-vertical"></div>

                    <md-select class="simplified" ng-model="vm.selectedFilter.next" placeholder="Interval" translate
                               translate-attr-placeholder="TODO.INTERVAL">
                        <md-option value="Next 3 days" translate="TODO.NEXT_3_DAYS">Next 3 days</md-option>
                        <md-option value="Next 7 days" translate="TODO.NEXT_7_DAYS">Next 7 days</md-option>
                        <md-option value="Next 2 weeks" translate="TODO.NEXT_2_WEEKS">Next 2 weeks</md-option>
                        <md-option value="Next month" translate="TODO.NEXT_MONTH">Next month</md-option>

                    </md-select>
                </div>

                <div layout="row" layout-align="start center">
                    <span class="page-info">1 - 100 of 980</span>

                    <md-button class="md-icon-button arrow" aria-label="Previous" translate
                               translate-attr-aria-label="TODO.PREVIOUS">
                        <md-icon md-font-icon="icon-chevron-left"></md-icon>
                        <md-tooltip><span translate="MAIL.PREVIOUS">Previous</span></md-tooltip>
                    </md-button>

                    <md-button class="md-icon-button arrow" aria-label="Next" translate
                               translate-attr-aria-label="TODO.NEXT">
                        <md-icon md-font-icon="icon-chevron-right"></md-icon>
                        <md-tooltip><span translate="MAIL.NEXT">Next</span></md-tooltip>
                    </md-button>
                </div>

            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content" layout="row" flex>

                <!-- Todo list pane -->
                <md-content class="todo-list-pane" flex
                            ng-include="'app/main/apps/todo/views/todo-list/todo-list.html'" ms-scroll>
                </md-content>
                <!-- Todo list pane -->

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARDb-->

    </div>
    <!-- / CENTER -->

</div>
