#todo {

    // Center
    .center {

        .header {
            padding: 24px 0;
        }

        .content-card {

            .toolbar {
                padding: 8px 16px;
                position: relative;

                .page-info {
                    white-space: nowrap;
                    font-weight: 500;
                    margin: 0 8px;
                }
            }

            .content {
                padding: 0;
                overflow: hidden;

                .todo-list-pane {
                    background: #FAFAFA;
                }

            }
        }
    }
}