<div id="todo" class="layout-app1 left-pane" layout="column">

    <!-- Header -->
    <header class="md-accent-bg" layout="row">

        <!-- Header Left -->
        <div class="header-left" layout="column" layout-align="space-between">
            <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon">
                    <md-icon md-font-icon="icon-check_box" class="white-text s24"></md-icon>
                </span>
                <span class="logo-text">To-Do</span>
            </div>

            <md-select class="project-selection simplified" placeholder="Project Selection"
                       ng-model="vm.selectedProject">
                <md-option ng-repeat="(project, title) in vm.projects" value="{{project}}">
                    {{title}}
                </md-option>
            </md-select>
        </div>
        <!-- Header Left - End -->

        <!-- Header Right -->
        <div class="header-right" flex layout="column" layout-align="space-between">
            <div class="search md-whiteframe-z2 md-background-bg" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-search" class="icon s24"></md-icon>
                <input flex ng-model="vm.search" type="text" placeholder="Search for a task or todo">
            </div>

            <!-- Header Toolbar -->
            <div class="header-toolbar black-text" layout="row" layout-align="start center" layout-fill>

                <div class="actions" flex="100" layout="row" layout-align="space-between center">
                    <div layout="row" layout-align="start center">
                        <md-select class="simplified" ng-model="vm.selectedFilter.filter" placeholder="Filter">
                            <md-option ng-repeat="filter in vm.filters.filter" value="{{filter}}">{{filter}}</md-option>
                        </md-select>

                        <div class="divider-vert"></div>

                        <md-select class="simplified" ng-model="vm.selectedFilter.order" placeholder="Order">
                            <md-option ng-repeat="order in vm.filters.order" value="{{order}}">{{order}}</md-option>
                        </md-select>

                        <div class="divider-vert"></div>

                        <md-select class="simplified" ng-model="vm.selectedFilter.next" placeholder="Next..">
                            <md-option ng-repeat="next in vm.filters.next" value="{{next}}">{{next}}</md-option>
                        </md-select>
                    </div>

                    <div layout="row" layout-align="end center">
                        <span class="page-info">1 - 100 of 980</span>

                        <md-button class="md-icon-button arrow" aria-label="previous">
                            <md-icon md-font-icon="icon-keyboard_arrow_left"></md-icon>
                        </md-button>

                        <md-button class="md-icon-button arrow" aria-label="next">
                            <md-icon md-font-icon="icon-keyboard_arrow_right"></md-icon>
                        </md-button>
                    </div>
                </div>

            </div>
            <!-- Header Toolbar - End -->

        </div>
        <!-- Header Right - End -->

    </header>
    <!-- End - Header -->

    <!-- Content -->
    <div class="content" layout="row">

        <!-- Left Pane -->
        <div class="content-left-pane">

            <div class="add-task-button">
                <md-button class="md-accent md-raised" aria-label="add task" ng-click="vm.openTaskDialog($event)">
                    ADD TASK
                </md-button>
            </div>

            <div class="simple-navigation" layout="column">
                <md-button class="item" aria-label="all tasks">
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-list" class="s18"></md-icon>
                        <span class="title">All Tasks</span>
                    </div>
                </md-button>

                <md-button class="item" aria-label="starred">
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-star" class="s18"></md-icon>
                        <span class="title">Starred</span>
                    </div>
                </md-button>

                <md-button class="item" aria-label="priority">
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-info" class="s18"></md-icon>
                        <span class="title">Priority</span>
                    </div>
                </md-button>

                <md-button class="item" aria-label="scheduled">
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-access_time" class="s18"></md-icon>
                        <span class="title">Scheduled</span>
                    </div>
                </md-button>

                <md-button class="item" aria-label="today">
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-today" class="s18"></md-icon>
                        <span class="title">Today</span>
                    </div>
                </md-button>

                <md-button class="item" aria-label="done">
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-check" class="s18"></md-icon>
                        <span class="title">Done</span>
                    </div>
                </md-button>

                <md-button class="item" aria-label="deleted">
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-delete" class="s18"></md-icon>
                        <span class="title">Deleted</span>
                    </div>
                </md-button>

                <div class="item subheader">
                    Tags
                </div>

                <md-button class="item" aria-label="tag {{tag.title}}" ng-repeat="tag in vm.tags">
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-label" class="s18" ng-style="{'color' : tag.color}"></md-icon>
                        <span class="title">{{tag.title}}</span>
                    </div>
                </md-button>
            </div>

        </div>
        <!-- Left Pane - End -->

        <!-- Main Content -->
        <div class="content-main md-background-bg md-whiteframe-z3" flex>

            <div class="task-list" layout="column">
                <div class="task"
                     ng-repeat="task in vm.tasks | filter: vm.search" md-ink-ripple ng-click="vm.openTaskDialog($event, task)"
                     ng-class="{'starred': task.starred, 'selected': task.selected, 'checked': task.checked}">

                    <div layout-fill layout="row" layout-align="start center">
                        <md-checkbox aria-label="{{$index}}" class="checkbox" ng-checked="task.checked"
                                     ng-click="vm.toggleCheck($event,task)">
                        </md-checkbox>

                        <div layout="column" class="info" flex>
                            <div class="title">{{task.title}}</div>

                            <div class="notes">
                                {{task.notes | limitTo:50}}{{task.notes.length > 50 ?'...' : ''}}
                            </div>
                        </div>

                        <div class="tags" layout="row">
                            <div class="tag" data-ng-repeat="tag in task.tags"
                                 ng-style="{'background-color': tag.color}">
                                {{tag.title}}
                            </div>
                        </div>

                        <md-button class="md-icon-button" ng-click="vm.starredToggle(task,$event)" aria-label="starred">
                            <md-icon ng-if="task.starred" md-font-icon="icon-star"
                                     class="md-color-font yellow"></md-icon>
                            <md-icon ng-if="!task.starred" md-font-icon="icon-star_outline"></md-icon>
                        </md-button>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button">
                                <md-icon md-font-icon="icon-more_vert" ng-click="$mdOpenMenu($event)"></md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button aria-label="all">Mark as done</md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button aria-label="none">Mark as important</md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button aria-label="read">Add star</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
            </div>

        </div>
        <!-- Main Content - End -->

    </div>
    <!-- Content - End -->

</div>