#maintenance {
    background: url('/assets/images/backgrounds/march.jpg') no-repeat;
    background-size: cover;
    height: 100%;

    #maintenance-form {
        max-width: 384px;
        padding: 32px;
        margin: 32px;
        background: #FFFFFF;

        .logo {
            width: 128px;
            height: 128px;
            font-size: 86px;
            font-weight: 500;
            margin: 32px;
            border-radius: 2px;
        }

        .title {
            text-align: center;
            font-size: 17px;
            margin-top: 16px;
        }

        .subtitle {
            margin: 16px 0;
            text-align: center;
            max-width: 300px;
            color: rgba(0, 0, 0, 0.54);
            font-size: 15px;
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {

    #maintenance {

        #maintenance-form {
            padding: 24px;
            width: 90%;
        }
    }

}