#standart-table {
    .content {
        padding: 32px;
        .card {
            margin: 16px 0 48px 0;
            overflow: hidden;
            &.classic {
                max-width: 1000px;
            }
            &.full-width {
                width: 100%;
            }
            .table-title {
                font-size: 20px;
                margin: 24px 24px 32px 24px;
            }
            table{
                td,th{
                    &:first-child{
                        padding-left: 24px;
                    }
                    &:last-child{
                        padding-right: 24px;
                    }
                }
                td{
                    font-weight: 500;
                }
            }
        }
    }
}