<div id="file-manager" class="page-layout simple right-sidenav" layout="row">

    <!-- Main sidenav (extra sidenav) -->
    <md-sidenav class="main-sidenav" md-component-id="main-sidenav"
                ng-include="'app/main/apps/file-manager/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>
    </md-sidenav>
    <!-- / Main sidenav (extra sidenav) -->

    <!-- Center -->
    <div class="center" layout="column" flex>

        <!-- Header -->
        <div class="header md-accent-bg" layout="column" layout-align="space-between">

            <!-- Toolbar -->
            <div class="toolbar" layout="row" layout-align="space-between">

                <md-button class="md-icon-button main-sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')"
                           aria-label="Toggle main sidenav">
                    <i class="icon icon-menu"></i>
                </md-button>

                <div class="right-side" layout="row">
                    <md-button class="md-icon-button" aria-label="Search">
                        <md-icon md-font-icon="icon-search"></md-icon>
                        <md-tooltip>Search</md-tooltip>
                    </md-button>

                    <md-button ng-if="vm.currentView === 'list'" class="md-icon-button" aria-label="view type"
                               ng-click="vm.toggleView()">
                        <md-icon md-font-icon="icon-view_comfortable"></md-icon>
                        <md-tooltip>Grid View</md-tooltip>
                    </md-button>

                    <md-button ng-if="vm.currentView === 'grid'" class="md-icon-button" aria-label="view type"
                               ng-click="vm.toggleView()">
                        <md-icon md-font-icon="icon-list"></md-icon>
                        <md-tooltip>List View</md-tooltip>
                    </md-button>
                </div>
            </div>
            <!-- / Toolbar -->

            <!-- Breadcrumb -->
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span>My Files</span>
                <i class="icon icon-keyboard_arrow_right separator"></i>
                <span>Documents</span>
            </div>
            <!-- / Breadcrumb -->

            <!-- Add file button -->
            <md-button class="add-file-button md-fab md-warn" aria-label="Add file"
                       ng-click="vm.addFile($event)">
                <md-icon md-font-icon="icon-add" class="s20"></md-icon>
            </md-button>
            <!-- / Add file button -->

        </div>
        <!-- / Header -->

        <!-- Content -->
        <md-content class="content" flex ms-scroll>
            <div ng-if="vm.currentView === 'grid'"
                 ng-include="'app/main/apps/file-manager/views/grid/grid-view.html'"></div>
            <div ng-if="vm.currentView === 'list'"
                 ng-include="'app/main/apps/file-manager/views/list/list-view.html'"></div>
        </md-content>
        <!-- / Content -->

    </div>
    <!-- / Center -->

    <!-- Sidenav -->
    <md-sidenav class="sidenav details-sidenav md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')"
                md-component-id="details-sidenav"
                ng-include="'app/main/apps/file-manager/sidenavs/details/details-sidenav.html'" ms-sidenav-helper>
    </md-sidenav>
    <!-- / Sidenav -->

</div>