#file-manager {

    .center {

        .header {
            position: relative;

            .breadcrumb {
                font-size: 24px;
                padding-left: 90px;

                span {
                    cursor: pointer;

                    md-icon {
                        cursor: default;
                    }

                    &:last-child {

                        md-icon {
                            display: none;
                        }
                    }
                }

                .separator {
                    margin-left: 8px;
                    margin-right: 8px;
                }
            }

            .add-file-button {
                position: absolute;
                bottom: -32px;
                left: 16px;

            }
        }

        .content {
            padding: 0;
        }
    }

    .file-icon {

        .icon-folder {

            &:before {
                color: #FFB300;
            }
        }

        .icon-document {

            &:before {
                color: #1565C0;
            }
        }

        .icon-spreadsheet {

            &:before {
                color: #4CAF50;
            }
        }
    }

}

// RESPONSIVE
@media screen and (max-width: $breakpoint-lg) {

    #file-manager {

        .center {

            .header {

                .breadcrumb {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-md) {

    #file-manager {

        .center {

            .header {

                .breadcrumb {
                    font-size: 16px;
                }
            }
        }
    }
}