#file-manager {

    .center {

        .header {
            position: relative;

            .breadcrumb {
                font-size: 24px;
                padding-left: 90px;

                .separator {
                    margin-left: 8px;
                    margin-right: 8px;
                }
            }

            .add-file-button {
                position: absolute;
                bottom: -32px;
                left: 16px;

            }
        }

        .content {
            padding: 0;
        }
    }
    
    .icon- {
        text-align: center;

        &.folder {

            &:before {
                content: "\e101";
                color: #FFB300;
            }
        }

        &.document {

            &:before {
                content: "\e288";
                color: #1565C0;
            }
        }

        &.spreadsheet {

            &:before {
                content: "\e180";
                color: #4CAF50;
            }
        }
    }
}
