#horizontal-navigation {

    #search {
        background: rgba(0, 0, 0, 0.12);
        padding: 8px 0;
        font-size: 13px;

        label {
            padding: 0 16px;

            md-icon {
                line-height: $toolbarHeight;
            }
        }

        #search-input {
            background-color: transparent;
            color: #FFFFFF;
            min-width: 240px;
            height: 32px;
        }
    }
}