// Override button styles
.md-button {

    &.md-icon-button {
        height: 40px;
        line-height: 40px;
        width: 40px;
    }

}

md-dialog {

    .md-actions {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}