* {
    box-sizing: border-box;

    &:before, &:after {
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;

    &:hover, &:active {
        text-decoration: none;
    }
}

code, pre {
    font-family: 'Monaco', 'Consolas', monospace;
    font-size: 13px;
}

code {
    
}

pre {
    margin: 8px 16px;
}