* {
    text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;

    &:before, &:after {
        box-sizing: border-box;
    }

    // Remove focus outline
    &:focus {
        outline: none;
    }
}

// Links
a {
    text-decoration: none;

    &:hover, &:active {
        text-decoration: none;
    }
}

code, pre {
    font-family: 'Monaco', 'Consolas', monospace;
    font-size: 13px;
}

code {

}

pre {
    margin: 8px 16px;
}

// Images in links
a {
    img {
        display: block;
        outline: none;
    }
}

// Responsive images
img {
    max-width: 100%;
    vertical-align: top;
    border: none;
}

// Reset non angular-material input's default browser/os styles
*:not(md-input-container) {
    > input[type="text"],
    > input[type="tel"],
    > input[type="email"],
    > input[type="search"],
    > input[type="password"],
    > input[type="button"],
    > button,
    > input[type="submit"],
    > input[type="image"],
    > textarea {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: none;
        background: none;
        padding: 0;
        margin: 0;
    }
}

button {
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}