.table-simple {
    text-align: left;
    font-size: 13px;
    border: none;
    border-spacing: 0;
    width: 100%;
    tr {
        th, td {
            border: none;
            font-weight: normal;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
    > thead {
        tr {
            th {
                color: rgba(0, 0, 0, 0.54);
                font-weight: 500;
                padding: 0 8px 24px 8px;
            }
        }
    }
    > tbody {
        tr {
            td {
                padding: 24px 8px;
            }
        }
    }
}