<div class="themes">
    <md-button ng-repeat="(themeName, theme) in vm.themes.list" aria-label="{{themeName}}"
               class="theme md-fab md-raised md-mini md-primary "
               ng-style="{'background-color': theme.primary.color}"
               ng-click="vm.setActiveTheme(themeName)"
               ng-show="vm.isOpen">
        <md-icon md-font-icon="icon-palette" class="s16"></md-icon>
    </md-button>
</div>

<md-button ng-click="vm.isOpen = !vm.isOpen" aria-label="menu" class="menu-button md-fab md-raised md-accent">
    <md-icon md-font-icon="icon-palette"></md-icon>
</md-button>