#theme-changer {
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 98;

    .menu-button {
        margin: 0;
    }
    .md-button{
        line-height: 1;
    }
    .themes {

    }
}