<md-fab-speed-dial md-open="vm.isOpen" md-direction="up" class="md-scale">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-raised md-accent">
            <md-icon md-font-icon="icon-style" class="s32"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <div layout="column">
            <md-button ng-repeat="(themeName, theme) in vm.themes.list" aria-label="{{themeName}}"
                       class="md-fab md-raised md-mini md-primary"
                       ng-style="{'background-color': theme.primary.color}"
                       ng-click="vm.setActiveTheme(themeName)">
                <md-icon md-font-icon="icon-palette" class="s24"></md-icon>
            </md-button>
        </div>
    </md-fab-actions>
</md-fab-speed-dial>