<div id="stat-widgets" class="page-layout simple fullwidth doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">

        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">WIDGETS</span>
            </div>
            <div class="title">Stat Widgets</div>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <p class="h4 margin-16">
            Here you can see some of the stat widget styles. These are just tiny example of what you can do with using widget directive and helper classes. You are not limited to
            these styles or widgets, you can easily create wide variety of widgets.
        </p>

        <!-- WIDGET GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- WIDGET 1 -->
            <ms-widget class="stat-widget height-200" flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 bg-light-blue" layout="column" flex>
                    <div class="padding-bottom-8" layout="row" layout-align="space-between center">
                        <div class="h4 font-weight-500 secondary-text">{{vm.widget1.title}}</div>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                        Details
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div class="fg-white" layout="column" layout-align="space-between" flex>
                        <div class="md-display-1" layout="row" layout-align="start center">
                            <span>{{vm.widget1.value | number}}</span>
                            <md-icon md-font-icon="icon-trending-up" class="s36 margin-left-16"></md-icon>
                        </div>

                        <div layout="row" layout-align="start center">
                            <span>Last week: {{vm.widget1.lastWeekValue | number}}</span>
                            <span class="text-boxed-light">{{vm.widget1.lastWeekDiff}}</span>
                        </div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="padding-16 bg-light-blue fg-white" layout="column" flex>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div>
                        {{vm.widget1.detail}}
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGET 1 -->

            <!-- WIDGET 2 -->
            <ms-widget class="stat-widget height-200" flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 bg-green" layout="column" flex>
                    <div class="padding-bottom-8" layout="row" layout-align="space-between center">
                        <div class="h4 font-weight-500 secondary-text">{{vm.widget2.title}}</div>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                        Details
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div class="fg-white" layout="column" layout-align="space-between" flex>
                        <div>
                            <div class="md-display-1 padding-bottom-16">{{vm.widget2.value}}%</div>

                            <div class="padding-bottom-16">
                                <md-progress-linear md-mode="determinate"
                                                    value="{{vm.widget2.value}}"></md-progress-linear>
                            </div>
                        </div>

                        <div layout="row" layout-align="start center">
                            <span>Last week: {{vm.widget2.lastWeekValue}}%</span>
                            <span class="text-boxed-light">{{vm.widget2.lastWeekDiff}}</span>
                        </div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="padding-16 bg-green fg-white" flex>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div>
                        {{vm.widget2.detail}}
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGET 2 -->

            <!-- WIDGET 3 -->
            <ms-widget class="stat-widget height-200" flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 bg-blue-grey fg-white" layout="column" flex>
                    <div class="padding-bottom-8" layout="row" layout-align="space-between center">
                        <div class="h4 font-weight-500 secondary-text">{{vm.widget3.title}}</div>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                        Details
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div layout="column" layout-align="space-between" flex>
                        <div>
                            <div class="md-display-1 padding-bottom-16">{{vm.widget3.value}}%</div>

                            <div class="padding-bottom-8">
                                <md-progress-linear md-mode="determinate"
                                                    value="{{vm.widget3.value}}"></md-progress-linear>
                            </div>
                        </div>

                        <div>See more details...</div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="padding-16 bg-blue-grey fg-white" flex>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div>
                        {{vm.widget3.detail}}
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGET 3 -->

            <!-- WIDGET 4 -->
            <ms-widget class="stat-widget height-200" flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 bg-deep-purple fg-white" layout="column" flex>
                    <div class="padding-bottom-8" layout="row" layout-align="space-between center">
                        <div class="h4 font-weight-500 secondary-text">{{vm.widget4.title}}</div>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                        Details
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div layout="column" layout-align="space-between" flex>
                        <div class="md-display-1 padding-bottom-8" layout="row" layout-align="start center">
                            <span>{{vm.widget4.value | number}}</span>
                            <md-icon md-font-icon="icon-trending-down" class="s36 margin-left-16"></md-icon>
                        </div>

                        <div>See more details...</div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="padding-16 bg-deep-purple fg-white" flex>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div>
                        {{vm.widget4.detail}}
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGET 4 -->

        </div>
        <!-- / WIDGET GROUP -->


        <!-- WIDGET GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- WIDGET 5 -->
            <ms-widget class="stat-widget height-140" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 bg-white" layout="row" flex>
                    <div class="padding-top-8 padding-bottom-8" layout="column" layout-align="center center" flex>
                        <div class="md-display-1 padding-bottom-8">{{vm.widget5.value}}</div>
                        <div class="font-weight-500 secondary-text">{{vm.widget5.title}}</div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 5 -->

            <!-- WIDGET 6 -->
            <ms-widget class="stat-widget height-140" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 bg-white" layout="row" flex>
                    <div class="padding-top-8 padding-bottom-8" layout="column" layout-align="center center" flex>
                        <div class="font-weight-500 secondary-text padding-bottom-8">{{vm.widget6.title}}</div>
                        <div class="md-display-1">{{vm.widget6.value}}</div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 6 -->

            <!-- WIDGET 7 -->
            <ms-widget class="stat-widget height-140" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 bg-white" layout="row" flex>
                    <div class="padding-top-8 padding-bottom-8" layout="row" layout-align="space-between center" flex>
                        <div class="padding-left-8" layout="column" layout-align="center start">
                            <span class="md-display-1 padding-bottom-8">{{vm.widget7.value}}</span>
                            <span class="font-weight-500 secondary-text">{{vm.widget7.title}}</span>
                        </div>

                        <div>
                            <md-icon md-font-icon="icon-thumb-up" class="s48 hint-text"></md-icon>
                        </div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 7 -->

            <!-- WIDGET 8 -->
            <ms-widget class="stat-widget height-140" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 bg-white" layout="row" flex>
                    <div class="padding-top-8 padding-bottom-8" layout="row" layout-align="space-between center" flex>
                        <div>
                            <md-icon md-font-icon="icon-lock-unlocked" class="s48 hint-text"></md-icon>
                        </div>

                        <div class="padding-right-8" layout="column" layout-align="center end">
                            <div class="md-display-1 padding-bottom-8">{{vm.widget8.value}}</div>
                            <div class="font-weight-500 secondary-text">{{vm.widget8.title}}</div>
                        </div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 8 -->

        </div>
        <!-- / WIDGET GROUP -->


        <!-- WIDGET GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- WIDGET 9 -->
            <ms-widget class="stat-widget height-300" layout="column" flex="100" flex-gt-sm="50"
                       flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 bg-deep-orange fg-white" layout="row" flex>
                    <div layout="column" layout-align="center center" flex>
                        <div class="md-display-3 padding-bottom-8">{{vm.widget9.value}}</div>
                        <div class="h3 font-weight-500">{{vm.widget9.title}}</div>
                    </div>

                    <div class="background-image-center">
                        <md-icon md-font-icon="icon-music-note" class="s256 faint-text"></md-icon>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 9 -->

            <!-- WIDGET 10 -->
            <ms-widget class="stat-widget height-300" layout="column" flex="100" flex-gt-sm="50"
                       flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 bg-cyan fg-white" layout="row" flex>
                    <div layout="column" layout-align="center center" flex>
                        <div class="md-display-3 padding-bottom-8">{{vm.widget10.value}}</div>
                        <div class="h3 font-weight-500">{{vm.widget10.title}}</div>
                    </div>

                    <div class="background-image-center">
                        <md-icon md-font-icon="icon-filmstrip" class="s256 faint-text"></md-icon>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 10 -->

            <!-- WIDGET 11 -->
            <ms-widget class="stat-widget height-300" layout="column" flex="100" flex-gt-sm="100"
                       flex-gt-lg="50">

                <!-- Front -->
                <ms-widget-front class="padding-16 bg-teal fg-white" layout="row" flex>
                    <div layout="column" layout-align="center center" flex>
                        <div class="md-display-3 padding-bottom-8">{{vm.widget11.value}}</div>
                        <div class="h3 font-weight-500">{{vm.widget11.title}}</div>
                    </div>

                    <div class="background-image-center">
                        <md-icon md-font-icon="icon-file-document" class="s256 faint-text"></md-icon>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 11 -->

        </div>
        <!-- / WIDGET GROUP -->


        <!-- WIDGET GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- WIDGET 12 -->
            <ms-widget class="stat-widget height-350" flippable="true" layout="column" flex="100" flex-gt-sm="50"
                       flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 bg-light-blue" layout="column" flex>
                    <div class="padding-bottom-8" layout="row" layout-align="space-between center">
                        <div class="h4 secondary-text">
                            <md-icon md-font-icon="icon-arrow-left" class="s16 margin-right-8"></md-icon>
                            <span class="font-weight-500">{{vm.widget12.date}}</span>
                            <md-icon md-font-icon="icon-arrow-right" class="s16 margin-left-8"></md-icon>
                        </div>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                        Details
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div class="fg-white" layout="column" layout-align="center center" flex>
                        <div>
                            <md-icon md-font-icon="{{vm.widget12.icon}}" class="s96"></md-icon>
                        </div>

                        <div class="padding-top-16" layout="row" layout-align="center center">
                            <div class="md-display-2">{{vm.widget12.temperature}}&deg;</div>

                            <div class="padding-left-16" layout="column">
                                <div class="h1 text-semibold">{{vm.widget12.event}}</div>
                                <div class="h4 secondary-text">{{vm.widget12.location}}</div>
                            </div>
                        </div>

                        <div class="padding-top-32" layout="row" layout-align="center center">
                            <div layout="row" layout-align="start center">
                                <md-icon md-font-icon="icon-weather-windy" class="s16"></md-icon>
                                <span class="padding-left-8">22 km/h</span>
                            </div>

                            <div class="padding-left-16" layout="row" layout-align="start center">
                                <md-icon md-font-icon="icon-compass" class="s16"></md-icon>
                                <span class="padding-left-8">NW</span>
                            </div>
                        </div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="padding-16 bg-light-blue" layout="column" flex>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div class="padding-top-16 padding-bottom-16 fg-white">
                        <span class="h1">Next 5 days</span>
                    </div>

                    <div class="padding-left-8 padding-right-8" layout="row" layout-align="space-between">
                        <div layout="column" layout-align="start center" ng-repeat="detail in vm.widget12.detail">
                            <div class="h4 padding-bottom-8 black-text secondary-text ">{{detail.day}}</div>
                            <md-icon md-font-icon="{{detail.icon}}" class="s36 fg-white"></md-icon>
                            <div class="h3 padding-top-8 fg-white">{{detail.temperature}}&deg;</div>
                        </div>
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGET 12 -->

            <!-- WIDGET 13 -->
            <ms-widget class="stat-widget height-350" flippable="true" layout="column" flex="100" flex-gt-sm="50"
                       flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 bg-white" layout="column" flex>
                    <div class="padding-bottom-8" layout="row" layout-align="space-between center">
                        <div class="h4 secondary-text">
                            <md-icon md-font-icon="icon-arrow-left" class="s16 margin-right-8"></md-icon>
                            <span class="font-weight-500">{{vm.widget13.date}}</span>
                            <md-icon md-font-icon="icon-arrow-right" class="s16 margin-left-8"></md-icon>
                        </div>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                        Details
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div layout="column" layout-align="center center" flex>
                        <div>
                            <md-icon md-font-icon="{{vm.widget13.icon}}" class="s96"></md-icon>
                        </div>

                        <div class="padding-top-16" layout="row" layout-align="center center">
                            <div class="md-display-2">{{vm.widget13.temperature}}&deg;</div>

                            <div class="padding-left-16" layout="column">
                                <div class="h1 text-semibold">{{vm.widget13.event}}</div>
                                <div class="h4 secondary-text">{{vm.widget13.location}}</div>
                            </div>
                        </div>

                        <div class="padding-top-32" layout="row" layout-align="center center">
                            <div layout="row" layout-align="start center">
                                <md-icon md-font-icon="icon-weather-windy" class="s16"></md-icon>
                                <span class="padding-left-8">22 km/h</span>
                            </div>

                            <div class="padding-left-16" layout="row" layout-align="start center">
                                <md-icon md-font-icon="icon-compass" class="s16"></md-icon>
                                <span class="padding-left-8">NW</span>
                            </div>
                        </div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="padding-16 bg-light-blue" layout="column" flex>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div class="padding-top-16 padding-bottom-16 fg-white">
                        <span class="h1">Next 5 days</span>
                    </div>

                    <div class="padding-left-8 padding-right-8" layout="row" layout-align="space-between">
                        <div layout="column" layout-align="start center" ng-repeat="detail in vm.widget13.detail">
                            <div class="h4 padding-bottom-8 black-text secondary-text ">{{detail.day}}</div>
                            <md-icon md-font-icon="{{detail.icon}}" class="s36 fg-white"></md-icon>
                            <div class="h3 padding-top-8 fg-white">{{detail.temperature}}&deg;</div>
                        </div>
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGET 13 -->

            <!-- WIDGET 14 -->
            <ms-widget class="height-350" layout="column" flex="100" flex-gt-lg="50">

                <!-- Front -->
                <ms-widget-front class="bg-white" flex>
                    <div class="md-accent-bg padding-horizontal-16 padding-top-16 padding-bottom-8" flex="100"
                         flex-gt-sm="25">
                        <div class="h2 weight-500">{{vm.widget14.title}}</div>
                    </div>

                    <md-tabs class="md-accent no-radius" md-dynamic-height>
                        <md-tab label="{{tab.label}}" ng-repeat="tab in vm.widget14.tabs">

                            <div class="bg-white black-text" layout="row" flex layout-wrap>
                                <div class="padding-16" flex="100" flex-gt-md="50">
                                    <div class="h3 padding-bottom-8">Gender</div>
                                    <div class="padding-8" ng-repeat="gender in tab.genders">
                                        <div class="padding-bottom-8" layout="row" layout-align="space-between">
                                            <span class="h4">{{gender.title}}</span>
                                            <span class="secondary-text">{{gender.value}}%</span>
                                        </div>
                                        <md-progress-linear class="md-accent" md-mode="determinate"
                                                            value="{{gender.value}}"></md-progress-linear>
                                    </div>
                                </div>

                                <div class="padding-16" flex="100" flex-gt-md="50">
                                    <div class="h3 padding-bottom-8">Age</div>
                                    <div class="padding-8" ng-repeat="age in tab.ages" flex="50">
                                        <div class="padding-bottom-8" layout="row" layout-align="space-between">
                                            <span class="h4">{{age.title}}</span>
                                            <span class="secondary-text">{{age.value}}%</span>
                                        </div>
                                        <md-progress-linear class="md-warn" md-mode="determinate"
                                                            value="{{age.value}}"></md-progress-linear>
                                    </div>
                                </div>
                            </div>

                        </md-tab>
                    </md-tabs>

                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 14 -->

        </div>
        <!-- / WIDGET GROUP -->

    </div>
    <!-- / CONTENT -->

</div>