<div id="stat-widgets" class="page-layout simple fullwidth doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">

        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">WIDGETS</span>
            </div>
            <div class="title">Stat Widgets</div>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <!-- WIDGET GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- WIDGET 1 -->
            <ms-widget class="stat-widget" flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 md-light-blue-bg" layout="column" flex>
                    <div class="padding-bottom-8" layout="row" layout-align="space-between center">
                        <div class="h4 font-weight-500 secondary-text">{{vm.widget1.title}}</div>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                        Details
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div class="white-text" layout="column" layout-align="space-between" flex>
                        <div class="md-display-1" layout="row" layout-align="start center">
                            <span>{{vm.widget1.value | number}}</span>
                            <md-icon md-font-icon="icon-trending-up" class="s36 margin-left-16"></md-icon>
                        </div>

                        <div layout="row" layout-align="start center">
                            <span>Last week: {{vm.widget1.lastWeekValue | number}}</span>
                            <span class="text-boxed-light">{{vm.widget1.lastWeekDiff}}</span>
                        </div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="padding-16 md-light-blue-bg white-text" layout="column" flex>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div>
                        {{vm.widget1.detail}}
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGET 1 -->

            <!-- WIDGET 2 -->
            <ms-widget class="stat-widget" flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 md-green-bg" layout="column" flex>
                    <div class="padding-bottom-8" layout="row" layout-align="space-between center">
                        <div class="h4 font-weight-500 secondary-text">{{vm.widget2.title}}</div>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                        Details
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div class="white-text" layout="column" layout-align="space-between" flex>
                        <div>
                            <div class="md-display-1 padding-bottom-16">{{vm.widget2.value}}%</div>

                            <div class="padding-bottom-16">
                                <md-progress-linear md-mode="determinate"
                                                    value="{{vm.widget2.value}}"></md-progress-linear>
                            </div>
                        </div>

                        <div layout="row" layout-align="start center">
                            <span>Last week: {{vm.widget2.lastWeekValue}}%</span>
                            <span class="text-boxed-light">{{vm.widget2.lastWeekDiff}}</span>
                        </div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="padding-16 md-green-bg white-text" flex>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div>
                        {{vm.widget2.detail}}
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGET 2 -->

            <!-- WIDGET 3 -->
            <ms-widget class="stat-widget" flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 md-blue-grey-bg white-text" layout="column" flex>
                    <div class="padding-bottom-8" layout="row" layout-align="space-between center">
                        <div class="h4 font-weight-500 secondary-text">{{vm.widget3.title}}</div>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                        Details
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div layout="column" layout-align="space-between" flex>
                        <div>
                            <div class="md-display-1 padding-bottom-16">{{vm.widget3.value}}%</div>

                            <div class="padding-bottom-8">
                                <md-progress-linear md-mode="determinate"
                                                    value="{{vm.widget3.value}}"></md-progress-linear>
                            </div>
                        </div>

                        <div>See more details...</div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="padding-16 md-blue-grey-bg white-text" flex>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div>
                        {{vm.widget3.detail}}
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGET 3 -->

            <!-- WIDGET 4 -->
            <ms-widget class="stat-widget" flippable="true" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 md-deep-purple-bg white-text" layout="column" flex>
                    <div class="padding-bottom-8" layout="row" layout-align="space-between center">
                        <div class="h4 font-weight-500 secondary-text">{{vm.widget4.title}}</div>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                        Details
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div layout="column" layout-align="space-between" flex>
                        <div class="md-display-1 padding-bottom-8" layout="row" layout-align="start center">
                            <span>{{vm.widget4.value | number}}</span>
                            <md-icon md-font-icon="icon-trending-down" class="s36 margin-left-16"></md-icon>
                        </div>

                        <div>See more details...</div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="padding-16 md-deep-purple-bg white-text" flex>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div>
                        {{vm.widget4.detail}}
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGET 4 -->

        </div>
        <!-- / WIDGET GROUP -->


        <!-- WIDGET GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- WIDGET 5 -->
            <ms-widget class="stat-widget" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 md-white-bg" layout="row" flex>
                    <div class="padding-top-8 padding-bottom-8" layout="column" layout-align="center center" flex>
                        <div class="md-display-1 padding-bottom-8">{{vm.widget5.value}}</div>
                        <div class="font-weight-500 secondary-text">{{vm.widget5.title}}</div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 5 -->

            <!-- WIDGET 6 -->
            <ms-widget class="stat-widget" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 md-white-bg" layout="row" flex>
                    <div class="padding-top-8 padding-bottom-8" layout="column" layout-align="center center" flex>
                        <div class="font-weight-500 secondary-text padding-bottom-8">{{vm.widget6.title}}</div>
                        <div class="md-display-1">{{vm.widget6.value}}</div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 6 -->

            <!-- WIDGET 7 -->
            <ms-widget class="stat-widget" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 md-white-bg" layout="row" flex>
                    <div class="padding-top-8 padding-bottom-8" layout="row" layout-align="space-between center" flex>
                        <div class="padding-left-8" layout="column" layout-align="center start">
                            <span class="md-display-1 padding-bottom-8">{{vm.widget7.value}}</span>
                            <span class="font-weight-500 secondary-text">{{vm.widget7.title}}</span>
                        </div>

                        <div>
                            <md-icon md-font-icon="icon-thumb-up" class="s48 hint-text"></md-icon>
                        </div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 7 -->

            <!-- WIDGET 8 -->
            <ms-widget class="stat-widget" layout="column" flex="100" flex-gt-sm="50" flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 md-white-bg" layout="row" flex>
                    <div class="padding-top-8 padding-bottom-8" layout="row" layout-align="space-between center" flex>
                        <div>
                            <md-icon md-font-icon="icon-lock-unlocked" class="s48 hint-text"></md-icon>
                        </div>

                        <div class="padding-right-8" layout="column" layout-align="center end">
                            <div class="md-display-1 padding-bottom-8">{{vm.widget8.value}}</div>
                            <div class="font-weight-500 secondary-text">{{vm.widget8.title}}</div>
                        </div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 8 -->

        </div>
        <!-- / WIDGET GROUP -->


        <!-- WIDGET GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- WIDGET 9 -->
            <ms-widget class="stat-widget height-300" layout="column" flex="100" flex-gt-sm="50"
                       flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 md-deep-orange-bg white-text" layout="row" flex>
                    <div layout="column" layout-align="center center" flex>
                        <div class="md-display-3 padding-bottom-8">{{vm.widget9.value}}</div>
                        <div class="h3 font-weight-500">{{vm.widget9.title}}</div>
                    </div>

                    <div class="background-image-center">
                        <md-icon md-font-icon="icon-music-note" class="s256 faint-text"></md-icon>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 9 -->

            <!-- WIDGET 10 -->
            <ms-widget class="stat-widget height-300" layout="column" flex="100" flex-gt-sm="50"
                       flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 md-cyan-bg white-text" layout="row" flex>
                    <div layout="column" layout-align="center center" flex>
                        <div class="md-display-3 padding-bottom-8">{{vm.widget10.value}}</div>
                        <div class="h3 font-weight-500">{{vm.widget10.title}}</div>
                    </div>

                    <div class="background-image-center">
                        <md-icon md-font-icon="icon-filmstrip" class="s256 faint-text"></md-icon>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 10 -->

            <!-- WIDGET 11 -->
            <ms-widget class="stat-widget height-300" layout="column" flex="100" flex-gt-sm="100"
                       flex-gt-lg="50">

                <!-- Front -->
                <ms-widget-front class="padding-16 md-teal-bg white-text" layout="row" flex>
                    <div layout="column" layout-align="center center" flex>
                        <div class="md-display-3 padding-bottom-8">{{vm.widget11.value}}</div>
                        <div class="h3 font-weight-500">{{vm.widget11.title}}</div>
                    </div>

                    <div class="background-image-center">
                        <md-icon md-font-icon="icon-file-document" class="s256 faint-text"></md-icon>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / WIDGET 11 -->

        </div>
        <!-- / WIDGET GROUP -->


        <!-- WIDGET GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- WIDGET 12 -->
            <ms-widget class="stat-widget height-350" flippable="true" layout="column" flex="100" flex-gt-sm="50"
                       flex-gt-lg="25">

                <!-- Front -->
                <ms-widget-front class="padding-16 md-light-blue-bg" layout="column" flex>
                    <div class="padding-bottom-8" layout="row" layout-align="space-between center">
                        <div class="h4 secondary-text">
                            <md-icon md-font-icon="icon-arrow-left" class="s16 margin-right-8"></md-icon>
                            <span class="font-weight-500">{{vm.widget12.date}}</span>
                            <md-icon md-font-icon="icon-arrow-right" class="s16 margin-left-8"></md-icon>
                        </div>

                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="flipWidget()" aria-label="Flip widget">
                                        Details
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="refreshWidget()" aria-label="Refresh widget">
                                        Refresh
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div class="white-text" layout="column" layout-align="center center" flex>
                        <div>
                            <md-icon md-font-icon="{{vm.widget12.icon}}" class="s96"></md-icon>
                        </div>

                        <div class="padding-top-16" layout="row" layout-align="center center">
                            <div class="md-display-2">{{vm.widget12.temperature}}&deg;</div>

                            <div class="padding-left-16" layout="column">
                                <div class="h1 text-semibold">{{vm.widget12.event}}</div>
                                <div class="h4 secondary-text">{{vm.widget12.location}}</div>
                            </div>
                        </div>

                        <div class="padding-top-32" layout="row" layout-align="center center">
                            <div layout="row" layout-align="start center">
                                <md-icon md-font-icon="icon-weather-windy" class="s16"></md-icon>
                                <span class="padding-left-8">22 km/h</span>
                            </div>

                            <div class="padding-left-16" layout="row" layout-align="start center">
                                <md-icon md-font-icon="icon-compass" class="s16"></md-icon>
                                <span class="padding-left-8">NW</span>
                            </div>
                        </div>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

                <!-- Back -->
                <ms-widget-back class="padding-16 md-light-blue-bg" layout="column" flex>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>

                    <div class="padding-top-16 padding-bottom-16 white-text">
                        <span class="h1">Next 5 days</span>
                    </div>

                    <div class="padding-left-8 padding-right-8" layout="row" layout-align="space-between">
                        <div layout="column" layout-align="start center" ng-repeat="detail in vm.widget12.detail">
                            <div class="h4 padding-bottom-8 black-text secondary-text ">{{detail.day}}</div>
                            <md-icon md-font-icon="{{detail.icon}}" class="s36 white-text"></md-icon>
                            <div class="h3 padding-top-8 white-text">{{detail.temperature}}&deg;</div>
                        </div>
                    </div>
                </ms-widget-back>
                <!-- / Back -->

            </ms-widget>
            <!-- / WIDGET 12 -->

        </div>
        <!-- / WIDGET GROUP -->

    </div>
    <!-- / CONTENT -->

</div>